                <!-- dfa-card - dfa-card--numbers--w-image -->
                <div class="dfa-card dfa-card--numbers">
                    <div class="dfa-card__wrap">        
                            <div class="dfa-card--media">
                                <span class="dfa-card__numbers__number" style="font-size: 60px">100,000</span>  
                                <div class="transparent-image-overlay"></div>
                            </div>
                            <div class="dfa-card__card-text">
                                    <h3 class="dfa-card__card-text__heading">Mr Bryan Cuthbert</h3>
                                    <p class="dfa-card__card-text__text">Engaging caption text.</p>
                            </div>
                    </div>
                </div>
                <!-- // dfa-card - dfa-card--numbers--w-image -->