               <!-- DFA Card -- video -->
               <div class="gallery-item gallery-item__video dfa-card dfa-card--video">
                   <div class="dfa-card__wrap">
                        <a href="http://youtu.be/b0jqPvpn3sY" data-gallery="AIEF 2017" data-toggle="lightbox" data-title="Mr-Charles-Boamah <code>[video]</code>" data-footer="Engaging caption text. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem" >
                            <img class="gallery-item-image img-responsive" src="style-assets/media/imgs/4.-Mr-Charles-Boamah-540px.jpg" alt="Mr-Charles-Boamah" />
                            <div class="gallery-item-play dfa-card--video__play">
                                <div class="play-media dfa-icon dfa-card--video__play-icon">
                                    <img src="style-assets/media/svg-imgs/play_icon.svg" alt="See more" />
                                </div>                                
                             </div>  

                        </a>
                        <div class="dfa-card__card-text">
                                <h2 class="gallery-item-caption-heading dfa-card__card-text__heading">Mr Charles Boamah <code>[video]</code></h2>
                                <p class="gallery-item-caption-text dfa-card__card-text__subtext">Engaging caption text. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
                        </div>
                    </div>
                </div>   
                <!-- DFA Card -- video -->