                <!-- dfa-card - basic -->
                <div class="gallery-item dfa-card">
                    <div class="dfa-card__wrap">
                        <div class="dfa-card--media">
                            <a href="style-assets/media/imgs/6-Mr-Bryan-Cuthbert-540px.jpg" data-gallery="AIEF 2017" data-type="image" data-title="Mr Bryan Cuthbert" data-footer="Engaging caption text. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem" data-toggle="lightbox">
                                <img class="gallery-item-image img-responsive--fw dfa-card__card-image" src="style-assets/media/imgs/6-Mr-Bryan-Cuthbert-540px.jpg" alt="Mr Bryan Cuthbert" />    
                            </a>
                        </div>                    
                        <div class="dfa-card__card-text">
                                <h2 class="gallery-item-caption-heading dfa-card__card-text__heading">Mr Bryan Cuthbert</h2>
                                <p class="gallery-item-caption-text dfa-card__card-text__text">Engaging caption text.</p>
                        </div>
                    </div>
                </div>
                <!-- dfa-card - basic -->