                        <!-- Feature card with overlay -->
                        <div class="people-feature-person">
                            <img class="people-feature-image" src="style-assets/media/imgs/6-Mr-Bryan-Cuthbert-540px.jpg" alt="Mr Bryan Cuthbert" />
                            <div class="people-feature-overlay">
                                <div class="people-feature-about">
                                    <h2 class="people-feature-about-heading">Mr Bryan Cuthbert</h2>
                                    <p class="people-feature-about-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                    <a class="btn btn-transparent people-feature-about-link" href="javascript:void(0)">Read more</a>
                                </div>
                                
                            </div>
                        </div> 
                        <!-- // Feature card with overlay -->