<!--** Landing page feature image ** -->
        <section id="landing-feature-image" class="landing-feature-image landing-feature-section">
            <div class="content-wrap">
                <div class="landing-feature-image__block"> 
                     
                     <img class="landing-feature-image__img" src="style-assets/media/imgs/3-attendees-1280px.jpg" alt="Attendees" />
                     <div class="landing-feature-image__card">
                        <a href="javascript:void(0)" title="Go to Online passport applications" class="landing-feature-image__card__anchor">
                             
                             <div class="landing-feature-image__card__text">
                                <h2 class="landing-feature-image__card__text__heading">Online passport applications</h2>
                                <p>Renew your Passport Book and/or Passport Card, or apply for your first Passport Card.</p>
                             </div>
                             <div class="landing-feature-image__card__link-icon">
                                <svg class="dfa-svg-icon">
                                    <use xlink:href="#circle_right" />
                                </svg>
                             </div>        
                         </a>
                     </div>
                </div>
            </div>           
        </section>
        <!-- // Landing page feature image **-->