                <!-- dfa-card - horizontal -->
                <div class="dfa-card dfa-card--horizontal dfa-card--dropshadow">
                    <div class="dfa-card__wrap">
                        <a href="javascript:void(0)" class="dfa-card__anchor">                    
                            <div class="dfa-card__card-text">
                                    <h3 class="dfa-card__card-text__heading">Emigrant support program</h3>
                                    <p class="dfa-card__card-text__text">The ESP supports Irish communities overseas by funding non-profit organisations &amp; projects.</p>
                            </div>
                            <div class="dfa-card__media">
                                <svg class="dfa-svg-icon">
                                    <use href="#next_arrow" />
                                </svg>
                            </div> 
                        </a>
                    </div>
                </div>
                <!-- // dfa-card - horizontal -->
                <!-- dfa-card - horizontal -->
                <div class="dfa-card dfa-card--horizontal dfa-card--dropshadow">
                    <div class="dfa-card__wrap">
                        <a href="javascript:void(0)" class="dfa-card__anchor">                    
                            <div class="dfa-card__card-text">
                                    <h3 class="dfa-card__card-text__heading">Consular Services </h3>
                                    <p class="dfa-card__card-text__text">We offer a range of consular services and practical supports to all Irish citizens living and  travelling abroad.</p>
                            </div>
                            <div class="dfa-card__media">
                                <svg class="dfa-svg-icon">
                                    <use href="#next_arrow" />
                                </svg>
                            </div> 
                        </a>
                    </div>
                </div>
                <!-- // dfa-card - horizontal -->
                <!-- dfa-card - horizontal -->
                <div class="dfa-card dfa-card--horizontal dfa-card--horizontal--w-image dfa-card--dropshadow">
                    <div class="dfa-card__wrap">
                        <a href="javascript:void(0)" class="dfa-card__anchor">                    
<!--
                            <div class="dfa-card__media" style="background-image: url(style-assets/media/imgs/logo-thumb.jpg);">

                            </div>
-->
                            <div class="dfa-card__card-text">
                                    <h3 class="dfa-card__card-text__heading">Mind how you go</h3>
                                    <p class="dfa-card__card-text__text">Mind How You Go is a website designed to support you through the various practical and emotional challenges of emigrating.</p>
                            </div>
                            <div class="dfa-card__media">
                                <svg class="dfa-svg-icon">
                                    <use href="#next_arrow" />
                                </svg>
                            </div> 
                        </a>
                    </div>
                </div>
                <!-- // dfa-card - horizontal -->