                <!-- dfa-card - basic -->
                <div class="dfa-card dfa-card--numbers">
                    <div class="dfa-card__wrap">        
                            <div class="dfa-card--media">
                                <img class="img-responsive--fw dfa-card__card-image" src="style-assets/media/imgs/emigrant-flame-wexford-540px.jpg" alt="Mr Bryan Cuthbert" /> 
                                <span class="dfa-card__numbers__number">25,000</span>  
                                <div class="transparent-image-overlay"></div>
                            </div>
                            <div class="dfa-card__card-text">
                                    <h3 class="dfa-card__card-text__heading">Mr Bryan Cuthbert</h3>
                                    <p class="dfa-card__card-text__text">Engaging caption text.</p>
                            </div>
                    </div>
                </div>
                <!-- dfa-card - basic -->