/** 
 * Footer 
 *
**/
footer {
    @include container-fixed;
    background-color: $brand-primary;
    color: $white;
    a { 
        color: $white;
        &:active, &:hover, &:focus {
            color: $white;
        }
    }
}
.footer-row {
    @include make-row;
    
    &.landing-feature-section {
        padding-bottom: 0;
    }
}
.footer-links, .footer-address {
     @include make-xs-column(12);
     @include to-rem(padding-bottom, 14, 28);
    text-align: center;
}
.footer-address {
    p {
        @include rem-calc(margin-bottom, 0);
        
    }   
}
.footer-links {
    ul {
        padding: 0;
    }
   li {
        list-style: none;
    }
}
.footer-links-list {
    @include to-rem(margin-bottom, 14, 28);
}
@media screen and (max-width: 767px) {
    .footer-branding {
        img {
            margin: 0 auto;
        }
    }    
}

@media screen and (min-width: $screen-sm-min) {
    .footer-links, .footer-address {
         @include to-rem(font-size, 16, 16);
    }
    .footer-links {
        width: 70%;
        text-align: left;
        li {
             display: inline-block;
            a {
                @include to-rem(padding-right, 16, 8);        
                @include to-rem(padding-left, 16, 8);    
                border-left: 1px solid $white; 
            }    
            &:first-child {
                a {
                    border-left: none;
                    @include to-rem(padding-left, 16, 0);    
                }
                    
            }
        }
    }
    .footer-address {
 
        width: 30%;
        text-align: right;
    }
}
