
.news-grid {
    .news-grid__feature:first-child {
        color: $white;
    }
    .landing-feature--heading {
        @include to-rem(margin-bottom, 16, 20);
        border-left: 6px solid $brand-primary;
        @include to-rem(padding-left, 16, 10);
        @include to-rem(padding-top, 16,     6);
        @include to-rem(padding-bottom, 16,  6);
    }
    @include to-rem(padding-top, 14, 24);
    @include to-rem(padding-bottom, 14, 24);
}
.news-grid__feature {
     @include to-rem(margin-bottom, 14, 18);
    @include make-xs-column(12);
    overflow: hidden;
    .press-release__label {
        float: left;
        width: 70%;
        padding-left: 15px;
        @include to-rem(margin-top, 14, 4);
        
    }
    &:first-child {
        .news-grid__feature__inner-wrap {
            position: relative;
        } 
        .news-grid__media-wrap {
            float: none;
            width: 100%;
        }
        .news-grid__feature__img {
            display: block;
            position: relative;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            z-index: 0;
        } 
        .press-release__label {
            float: none;
            width: auto;
            position: absolute;
            float: none;
            z-index: 100;
            top: 20px;
            padding-left: 0;
            @include to-rem(font-size, 14, 14);
            margin-top: 0;
        }
        .news-grid__feature__details { 
            width: 100%;
            @include to-rem(padding-left, 16, 16);
            @include to-rem(padding-right, 16, 8);
            @include to-rem(padding-bottom, 16, 20);
            @include to-rem(padding-top, 16, 20);
            position: absolute;
            float: none;
            z-index: 100;
            bottom: 0;
            left: 0;
            right: 0;
            @include gradient-vertical($start-color: rgba(0, 0, 0, 0), $end-color: rgba(0, 0, 0, 1), $start-percent: 0%, $end-percent: 100%);
            &:hover {
                cursor: pointer;
                & + .news-grid__feature__overlay {
                     background-color: rgba(0, 0, 0, 0);
                }
            }

        }
        .news-grid__feature__heading {
            color: $white;
            @include to-rem(font-size, 14, 20);
            @include to-rem(margin-bottom, 16, 4);
        }
        .news-grid__feature__date {
            color: $gray-light;
        }
            
        .news-grid__feature__overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
            top: 0;
            left: 0;
            right: 0;
            color: inherit;
            background-color: rgba(0, 0, 0, 0.24);
            @include dfa-transition(background-color, 160);
            &:hover, &:active, &:focus {
                background-color: rgba(0, 0, 0, 0);
            } 
        } 
    }
    @media screen and (min-width: $screen-sm-min) {
        color: $white;
        width: 50%;
        &:first-child {
            width: 100%;   
            .news-grid__media-wrap {
                height: 0;
                padding-bottom: 57.25%;
            }
            .news-grid__feature__heading {
                @include to-rem(font-size, 16, 24);
            }
            .news-grid__feature__date {
                font-size: 0.9975rem;
                font-weight: 400;
            }
        }
    }
    @media screen and (min-width: $screen-md-min) {
        width: 25%;
        &:first-child {
            width: 50%;
            
        }
        
    }
    @media screen and (min-width: $screen-lg-min) {
        &:first-child {
             .news-grid__feature__heading {
                color: $white;
                @include to-rem(font-size, 18, 24);
            }
        }
        
    }
}
.news-grid__feature__inner-wrap {
    @include clearfix;
    position: relative;
}
.news-grid__media-wrap {
    
    overflow: hidden;
    position: relative;
    float: left;
    width: 30%;
}
.news-grid__feature__img {
    display: block;
    width: 100%;
} 
.news-grid__feature__anchor {
    color: inherit;
    display: block;
    &:hover, &:focus, &:active {
        text-decoration: underline;
        color: inherit;
        .news-grid__feature__heading {
            text-decoration: underline;
        }
    } 
}
.news-grid__feature__details { 
    width: 70%;    
    padding-left: 15px;
    float: left;
     &:hover {
        cursor: pointer;
        & + .news-grid__feature__overlay {
                 background-color: rgba(0, 0, 0, 0);
        }
    }
}

.news-grid__feature__heading {
    
    margin: 0;
     @include to-rem(font-size, 14, 16);
     font-weight: 600;
     @include to-rem(margin-bottom, 16, 4);
     @include to-rem(margin-top, 16, 4);
}
.news-grid__feature__label {
    
    line-height: 1.1;
}
.news-grid__feature__date {
    margin-bottom: 0;
    color: $gray-lighter;
}
@media screen and (min-width: $screen-sm-min) {
        .news-grid__media-wrap {
                height: 0;
                padding-bottom: 56.25%;
                width: 100%;    
                float: none;
        }
    
        .news-grid__feature__img {
            width: 100%;
            float: none;
            top: 0;
            left: 0;
            right: 0;
            z-index: 0;
        } 
        .news-grid__feature__heading {
            @include to-rem(font-size, 16, 20);
        } 
        .news-grid {
            .press-release__label {
                float: none;
                width: auto;
                position: absolute;
                float: none;
                z-index: 100;
                top: 4px;
                padding-left: 0;
                @include to-rem(padding-top, 16, 2);
                @include to-rem(padding-bottom, 16, 2);
            }
        }
        
        .news-grid__feature__details { 
            width: 100%;
            @include to-rem(padding-left, 16,  16);
             @include to-rem(padding-right, 16, 16);
             @include to-rem(padding-bottom, 16,16);
            position: absolute;
            float: none;
            z-index: 100;
            bottom: 0;
            left: 0;
            right: 0;
            @include gradient-vertical($start-color: rgba(0, 0, 0, 0), $end-color: rgba(0, 0, 0, 1), $start-percent: 0%, $end-percent: 100%);

            &:hover {
                cursor: pointer;
                // @include gradient-vertical($start-color: rgba(0, 0, 0, 0), $end-color: rgba(0, 0, 0, 1), $start-percent: 50%, $end-percent: 100%);
                & + .news-grid__feature__anchor {
                     background-color: rgba(0, 0, 0, 0);
                }
            }
        }
        .news-grid__feature__date {
            @include to-rem(font-size, 16,  12);
            font-weight: 200;
            color: $gray-lightest;
        }
        .news-grid__feature__overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
            top: 0;
            left: 0;
            right: 0;
            color: inherit;
            background-color: rgba(0, 0, 0, 0.24);
            @include dfa-transition(background-color, 160);
            &:hover, &:active, &:focus {
                background-color: rgba(0, 0, 0, 0);
            } 
        } 
}
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .news-grid__feature {
        &:first-child {
            .news-grid__feature__details {
                 @include to-rem(padding-left, 16,  16);
                 @include to-rem(padding-right, 16, 16);
                 @include to-rem(padding-bottom, 16,24);
             }            
        }
    }
    .news-grid__feature__heading {
            color: $white;
            @include to-rem(font-size, 18, 22);
    } 
}
@media screen and (min-width: $screen-md-min) {
    .news-grid__feature__details { 
            width: 100%;
            @include to-rem(padding-left, 16,       10);
             @include to-rem(padding-right, 16,     10);
             @include to-rem(padding-bottom, 16,    10);
    }
    .news-grid__feature {
        &:first-child {
            .news-grid__feature__details {
                 @include to-rem(padding-left, 16,  16);
                 @include to-rem(padding-right, 16, 16);
                 @include to-rem(padding-bottom, 16,12);
             }            
        }
    }
    .news-grid__feature__heading {
            @include to-rem(font-size, 16, 16);
    } 
}
@media screen and (min-width: $screen-lg-min) {
    .news-grid__feature__heading {
            @include to-rem(font-size, 18, 18);
    } 
}