/** 
 * 
 * People feature
 *
**/
.people-feature-block {
    @include make-xs-column(12);
}
/* Row contains all pictures */
.people-row {
    @include make-row();
    @include to-rem(margin, 14, auto, -15);
}
/* Each is a col */
.people-feature-person {
    @include make-xs-column(12,0);
    background-color: $gray-dark;
    overflow: hidden;
    &:hover .people-feature-overlay {
        top: 0;
    }
    border-bottom: 8px solid $gray-lighter;

}
.people-feature-image {
    position: relative;
    @include img-responsive;
    width: 100%;
}
.people-feature-overlay {
    position: static;
    top: 100%;
    width: 100%;
    @include rem-calc(padding, ($padding-small-vertical * 4), 15);
    color: $white;
    @include dfa-transition(top, 260, ease-out, 0);
    background-color: $gray-dark;

}
.people-feature-about {
    position: relative;
    height: 100%;
    z-index: 20;
}
.people-feature-about-heading {
    font-weight: 600;
    @include rem-calc(margin-top, 0);
    @include rem-calc(font-size, 18);
}
.people-feature-about-link {
    position: static;
    bottom: 8px;
    transform: translate(0, 0);

}
@media screen and (min-width:  $screen-sm-min) {
    .people-row {
        @include to-rem(margin, 14, auto, 0);
    }
    .people-feature-person {
        @include make-sm-column(6,0);
        
        border-right: 1px solid #000;
        &:nth-child(2n) {
            border-right: none;
        }
    } 
}
@media screen and (min-width:  $screen-md-min) {
    .people-feature-person {
        background-color: transparent;
        @include make-md-column(4,0);
        img {
//            margin-bottom: 4rem;
        }
        &:nth-child(2n) {
            border-right: 1px solid #000;
        }
        border-right: 1px solid #000;
        &:nth-child(3n), &:last-child {
            border-right: none;
        }
        
    }
    .people-feature-overlay {
        padding-top: 20px;
        height: 100%;
        background-color: rgba($gray-dark, 0.76); 
        position: absolute;
        top: 78%;
        top: calc(100% - 4.3rem);
        
    }
    .people-feature-about-heading {
        margin-bottom: 24px;
    }
    .people-feature-about-link {
        position: absolute;
        bottom: 8px;
    }
}
@media screen and (min-width: $screen-lg-min) {
    .people-feature-about-link {
        position: absolute;
    }
    .people-feature-about-heading  {
        @include rem-calc(font-size, 20);
        
    }
    .people-feature-about-text {
        @include to-rem(font-size, 18, 18);
    }
    .people-feature-about-link {
        @include to-rem(font-size, 18, 18);

    }
}