/* /* 
 *  Stying for DFA site responsivization and redesign 2017
 *  Michael Mason @ TERMINALFOUR
 *  Includes Bootrap SCSS customized (https://github.com/twbs/bootstrap-sass), Slick Slider SCSS (https://github.com/kenwheeler/slick/)
*/

@import "../../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap.scss"; 
@import "../../../lib/slick/slick/slick.scss"; 
@import "../../../lib/slick/slick/slick-theme.scss"; 
@import "../../../lib/ekko-lightbox/ekko-lightbox.min.scss"; 


/**
 * DFA Scaffolding
 * Pages structure 
 **/

@import 'components/header';

@mixin page-wrap($width-px: 1440, $width-rem: 80) {
    max-width: #{$width-px}px;
    max-width: #{$width-rem}rem;
}
/* Flexbox mixins */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@import 'components/flex-mixins';

/* 
 * Global components
 */
/* SVG Icons */
.dfa-icon__svg--ie-fallback {
    display: none;
}
.dfa-icons-stack {
    display: none;
}
.dfa-svg-icon {
    width: 100%;
    height: 100%;
    text {
        display: none;
        margin-left: -100000px;
    }
}
.dfa-icon {
        @include to-rem(width, 16, 27); 
        @include to-rem(height, 16, 27); 
    /* Qucklinks nav icon */
    &.dfa-icon__svg--quicklinks  {

        display: inline-block;
        float: right;
        @include to-rem(width, 18, 25);
        @include to-rem(height, 18, 25);
        margin-left: 6px;
        position: relative;
        z-index: 200;
        fill: #006845;
        img { 
            @include rem-calc(width, 24); 
        }
            .dfa-icon-image {
                    width: 100%;
            }
        }
}
.dfa-icon, dfa-icon__with-label {
    display: inline-block;
    display: flex;
    flex-direction: column;
    width: 100%; 
    .dfa-icon-image {
        width: 64%;
        @include rem-calc(margin, 0, auto);  
    }
}
.dfa-icon__svg {
    width: 100%;
    height: auto;
}
.svg-icon--dfa-logo {
    fill: $white;
}
.dfa-icon__with-label {
    .dfa-icon-label {
        text-align: center;
        @include rem-calc(font-size, 12);
        @include dfa-text-to-uppercase;
        @include rem-calc(margin-top, 4); 
    }
}
/* 
 * Section titles 
 */
.landing-feature-section {
    
    &.section-title {
        padding: 0;
        padding-bottom: 12px;
    }
}
.section-title__wrap {
    @include make-xs-column(12);
}
.section-title__heading {
    max-width: none;
    font-weight: 200;
    @include to-rem(font-size, 14, 30);
    @include to-rem(margin-top, 14, 20);
    @include to-rem(margin-bottom, 14, 14);
    line-height: 1.2;
}
.section-title__text {
    max-width: none;
    @include rem-calc(font-size, 18);
    @include to-rem(margin-bottom, 14, 28);
}
.section-title__bottom-rule {
    margin-bottom: 0;
    max-width: none;
    border-color: $gray;
    border-width: 1px;
}
@media screen and (min-width: $screen-sm-min) {
    .section-title__heading {
        font-weight: 200;
        @include to-rem(font-size, 16, 38);
        @include to-rem(margin-top, 14, 20);
        @include to-rem(margin-bottom, 14, 14);
        line-height: 1.2;
    }
    .section-title__text {
        @include to-rem(margin-bottom, 16, 24);
    }    
}
@media screen and (min-width: $screen-sm-min) {
    .section-title__heading {
        font-weight: 200;
        //@include to-rem(font-size, 14, 30);

        line-height: 1.2;
    }
    .section-title__text {
        @include to-rem(margin-bottom, 16, 24);
    }    
}
/* Transparent image overlays */
.transparent-image-overlay, .transparent-image-overlay__mid, .transparent-image-overlay__dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #000;
    filter: alpha(opacity=40); // IE 5-7
    opacity: 0.40;
}
.transparent-image-overlay--light {
    filter: alpha(opacity=28); // IE 5-7
    opacity: 0.28;
}
.transparent-image-overlay__mid {
    filter: alpha(opacity=52); // IE 5-7
    opacity: 0.52;
}
.transparent-image-overlay__dark {
    filter: alpha(opacity=76); // IE 5-7
    opacity: 0.76;
}
blockquote {
    font-style: italic;
    @include to-rem(border-left-width, 16, 24);
    border-left-color: $brand-darker;
    background-color: $gray-lightest;

    position: relative;
    p {
        @include to-rem(margin-bottom, 16, 8);
         
    }
    p::before {
        content: "\201D";
        font-family: sans-serif;
        font-weight: 600;
        font-style: normal;
        @include to-rem(font-size, 16, 36);
        
        color: $white;
        position: absolute;
        top: 9px;
        @include to-rem(left, 16, -21);
    }
    .attribution {
        font-style: normal;
        font-weight: 600;
        font-size: inherit;
        font-size: 1rem;
    }
    
}
@media screen and (min-width: $screen-md-min) {
    blockquote {
        .attribution {
            @include to-rem(font-size, 16, 14);
        }
    }
}


/* 
 * General page scaffolding 
     -- Structure
**/

/* Contains content width in rows  */
.content-wrap {
    @include clearfix; 
    @include page-wrap;
    margin: 0 auto;
}
/* Narrow content wrap */
@media screen and (min-width: $screen-sm-min) {
    .content-wrap__narrow {
        @include rem-calc(max-width, 760); 
    }    
}

/*
 * Landing pages scaffolding 
 *
 */
 /* Main body container */
.main-section {
    @include container-fixed();
    background-color: #fff;
}

/* Each section */
.landing-feature-section {
    @include make-row;
    @include rem-calc(padding-top, ($padding-small-vertical * 8));
    @include rem-calc(padding-bottom, ($padding-small-vertical * 16)) ;
    &.landing-feature-section--featured { 
        padding-top: 0;
        padding-bottom: 0;
    }
    /* padding overrides for some feature rows */
    &.plain-cards-feature, &.news-features, &.horizontal-cards, &.numbers-cards {
        @include rem-calc(padding-bottom, ($padding-small-vertical * 16) - 22) ;
    }
}
/* 12-cols block for each section - has a heading then content columns */
.landing-feature__block {
    @include make-xs-column(12);
    
}

.landing-feature__row {
    @include make-row;
}
/* Landing page headings */
.feature-heading, .landing-feature--heading {
    margin-top: 0;
    @include rem-calc(margin-bottom, ($padding-small-vertical * 6)) ; 
    .landing-feature__block__read-more {
        bottom: 0;
        display: none;
        float: right;
        margin: 0;
        @include to-rem(margin-top, 14, 9);
        @include to-rem(font-size, 14, 14);
        color: $brand-primary;
        @media screen and (min-width: 465px) {
            display: inline-block;
        }
        @media screen and (min-width: $screen-md-min) {
            
            @include to-rem(margin-top, 16, 14);
        }
    }
}
h1 {
    &.feature-heading, &.landing-feature--heading {
        @include to-rem(font-size, 14, 24);    
    }
}
h2 {
    &.feature-heading, &.landing-feature--heading {
        @include to-rem(font-size, 14, 24);    
    }
}
h3 {
    &.feature-heading, &.landing-feature--heading {
        @include to-rem(font-size, 14, 18);
    }
}
h4 {
    &.feature-heading, &.landing-feature--heading {
        @include to-rem(font-size, 14, 16);
    }
}
h5 {
    &.feature-heading, &.landing-feature--heading {
        @include to-rem(font-size, 14, 14);
    }
}
@media screen and (min-width: $screen-sm-min) {
    .feature-heading, .landing-feature--heading {
        @include rem-calc(margin-bottom, ($padding-small-vertical * 7)) ; 
    }
    h1 {
        &.feature-heading, &.landing-feature--heading {
            @include to-rem(font-size, 16, 28);    
        }
    }
    h2 {
        &.feature-heading, &.landing-feature--heading {
            @include to-rem(font-size, 16, 28);    
        }
    }
    h3 {
        &.feature-heading, &.landing-feature--heading {
            @include to-rem(font-size, 16, 20);
        }
    }
    h4 {
        &.feature-heading, &.landing-feature--heading {
            @include to-rem(font-size, 16, 18);
        }
    }
    h5 {
        &.feature-heading, &.landing-feature--heading {
            @include to-rem(font-size, 16, 16);
        }
    }
}
@media screen and (min-width: $screen-lg-min) {
    .feature-heading, .landing-feature--heading {
        @include rem-calc(margin-bottom, ($padding-small-vertical * 8));
    }
    h1 {
        &.feature-heading, &.landing-feature--heading {
            @include to-rem(font-size, 18, 36);    
        }
    }
    h2 {
        &.feature-heading, &.landing-feature--heading {
            @include to-rem(font-size, 18, 36);    
        }
    }
    h3 {
        &.feature-heading, &.landing-feature--heading {
            @include to-rem(font-size, 18, 22);
        }
    }
    h4 {
        &.feature-heading, &.landing-feature--heading {
            @include to-rem(font-size, 18, 20);
        }
    }
    h5 {
        &.feature-heading, &.landing-feature--heading {
            @include to-rem(font-size, 18, 18);
        }
    }
}
/* Contains content width in rows  */
.content-wrap {
    @include clearfix;  
    max-width: 1440px;
    max-width: 80rem;
    margin: 0 auto;
}
/* Narrow content wrap */
@media screen and (min-width: $screen-sm-min) {
    .content-wrap.content-wrap__narrow {
        @include rem-calc(max-width, 760); 
    }    
}
@media screen and (min-width: $screen-lg-min) {
    .content-wrap {
        @include to-rem(max-width, 18, 1200); 
    }    
    
}
@media screen and (min-width: $screen-xl-min) {
    .content-wrap {
        @include to-rem(max-width, 18, 1440); 
    }    
}
/* Read more link for features */
.landing-feature__block__read-more {
    float: right;
    margin-bottom: 0;
    position: relative;
    bottom: -8px;
}

@import 'components/cards'; //Cards



/***
 *
 * Inner page breadcrumbs
 *
 **/
.breadcrumbs-row {
    @include make-row;
    a {font-weight: 400;}
}
.breadcrumbs-block {
    @include make-xs-column(12);
}
.inner-page-breadcrumbs__block {
    @include make-xs-column(12);
}

@media screen and (min-width: $screen-md-min) {
    .inner-page-breadcrumbs__block {
        @include make-md-column(9);
        @include make-md-column-offset(3);
    }
}
//Travel alert content
@import 'components/travel-alert';

//Hero image
@import 'components/hero-block';

//Two-col intro
@import 'components/two-col-intro-block';

//People feature
@import 'components/people-feature-block';

//Media galler
@import 'components/media-gallery-block';

//Media galler
@import 'components/featured-content-block';

//Landing feature image - not a hero
@import 'components/landing-feature-image';
//Forms
@import 'components/dfa-forms';
//Landing pages news features
@import 'components/landing-page-news';
//News content
@import 'components/press-releases';

@import 'components/discovery-slider';
@import 'components/accordion-tabs';
@import 'components/site-info-card';

/*
 * Country travel info content
 */
.country-travel-info__heading, .landing-page-title, .inner-page-title {
    margin-top: 0;
    @include rem-calc(padding-bottom, $padding-small-vertical * 4);
    border-bottom: 2px solid $gray;
    max-width: none;
}
.landing-page-title {
    
    border-bottom: 1px solid $gray-light;
}
.country-travel-info__flag {
    max-width: 18%;
    @include rem-calc(margin-right, $padding-small-horizontal);
}
.country-travel-info__summary {
    @include rem-calc(font-size, 18);
}
.country-travel-info__datestamp {
    color: $gray;
    @include rem-calc(font-size, 12);
}
/*.country-travel-info__status {
    display: inline-block;
    color: $white;
    background-color: #008552 ;
    @include rem-calc(padding, $padding-small-vertical, $padding-small-horizontal);
    @include rem-calc(margin-bottom, $padding-small-horizontal * 3);
    &.country-travel-info__high-caution {
        background-color: #fcbd02 ;
    }
    &.country-travel-info__avoid-travel {
        background-color: #ff8120 ;
    }
    &.country-travel-info__do-not-travel {
        background-color: #cc0000 ;
    }
}*/
.country-travel-info__status {
    
}
/* Legacy country travel status information */
.security-status {
    color: $white;
    @include rem-calc(padding, $padding-small-vertical * 4-2);
    @include rem-calc(margin-bottom, $padding-small-vertical * 5);
    background-color: $brand-primary;
    border: 1px solid darken($brand-primary, 2%);
    @include rem-calc(max-width, 320);
    ul {
        @include list-unstyled;
        margin: 0;
        padding: 0;
        
    }
    li {
        background-color: $white;
        @include rem-calc(padding, $padding-small-vertical * 2, $padding-small-vertical * 3);
        color: $gray-dark;
    }
    h3 {
        margin-top: 0; 
        @include rem-calc(font-size, 18);
        font-weight: 600;
        @include rem-calc(margin-bottom, $padding-small-vertical * 2);
    
    }
    .security-status__status--normal {}
    .security-status__status--high-caution {
        display: none;
    }
    .security-status__status--avoid {
        display: none;
    }
    .security-status__status--do-not {
        display: none;
    }
    .security-status__more-info {
        @include rem-calc(font-size, 14);
        text-align: right;
        @include rem-calc(margin-top, $padding-small-vertical * 2+2);
        margin-bottom: 0;
        a { 
            color: $white; 
            font-weight: 400;
        }
    }
    &.high-caution, &.avoid,  &.do-not {
        .security-status__status--normal {
            display: none;
        }
    }
    &.high-caution {
        background-color: #fcbd02;
        border-color: darken(#fcbd02, 2%);
        .security-status__status--high-caution {
            display: list-item;
        }
    }
    &.avoid {
        background-color: #ff8120;
        border-color: darken(#ff8120, 5%);
        .security-status__status--high-caution {
            display: list-item;
        }
    }
    &.do-not {
        background-color: #cc0000;
        border-color: darken(#cc0000, 5%);
        .security-status__status--do-not {
            display: list-item;
        }
    }
}

/* Accordion tabs used for country travel information */
.accordion-tabs__tabs__item {
    &.accordion-tabs--country__tabs__item {
        @include rem-calc(font-size, 16);
        @include rem-calc(padding, $padding-small-vertical * 2, $padding-small-horizontal * 1.5);    
    }  
} 
.accordion-tabs__tab-content--country {

    h1 {
         @include rem-calc(font-size, 28);  
    }
    h2 {
         @include rem-calc(font-size, 20); 
        font-weight: 700;
    }
    h3 {
         @include rem-calc(font-size, 16);  
    }    
    h4 {
        @include rem-calc(font-size, 16);  
        color: $gray;
        
    }
}

.accordion-tabs--country-info {
    @include rem-calc(margin-top, $padding-small-vertical * 6);
    @include rem-calc(margin-bottom, $padding-small-vertical * 5);
}

@media screen and (min-width: $screen-xl-min) {
    .accordion-tabs__tabs__item {
        &.accordion-tabs--country__tabs__item {
            @include rem-calc(font-size, 18);
        }  
    }     
}
/* Legacy images */
.main-body__main {
    .dfa-img--old {
        width: auto !important;
        height: auto !important;
        max-width: 100%;
    }    
    .landing-feature-section {
        @include rem-calc(padding-top, 12);
        .feature-heading {
            line-height: 1.24;
            @include rem-calc(margin-bottom, 24);
        }
    }
}

/* Styling overrides for old tabs until they are retired */
.country-travel__old-tabs_tab-body { 
    
    @include clearfix;    
    @include rem-calc(margin-top, $padding-small-vertical * 8);
    @include rem-calc(padding-bottom, $padding-small-vertical * 4);
    h1 {
         @include rem-calc(font-size, 28);  
    }
    h2 {
         @include rem-calc(font-size, 20); 
        font-weight: 700;
    }
    h3 {
         @include rem-calc(font-size, 16);  
    }    
    h4 {
        @include rem-calc(font-size, 16);  
        color: $gray;
        
    }
    border-bottom: 1px solid $gray-lightest;
}

/* 
 * A-Z listings and filters 
 */
//wraps the filters
.a-z-listing__filters-wrap {
    @include clearfix;
}
//filters label
.a-z-listing__filter__label {
    display: block;
    font-weight: 400;
    @include rem-calc(margin-bottom, $padding-small-vertical * 2);
    
    max-width: none;
    
}
.a-z-listing__filter__label__text {
    color: $gray-lighter;
    @include rem-calc(font-size, 12px);
    text-transform: uppercase;
}
//filters input label
.a-z-listing__filter__input {
    display: inline-block;
    width: 100%;
    @include rem-calc(margin-top, $padding-small-vertical);
    
}
select.a-z-listing__filter__input {
    height: 30px;
}
//A-Z Alphabet
.a-z-listing__alphabet {
    @include rem-calc(margin-top, 24);
    background-color: $gray-lightest;
    padding: 4px 15px;
    p { margin-bottom: 0;}
}
.a-z-listing__alphabet_letters {
    @include list-inline;
    margin-bottom: 0;
}
//All of the countries
.a-z-filters__listing {
    @include make-row();
    @include flexbox();
    @include flex-direction(column);
    @include flex-flow(row, wrap);
    @include justify-content(flex-start);
    @include rem-calc(margin-top, $padding-small-vertical * 7.5)   ; 
    @include rem-calc(margin-bottom, $padding-small-vertical * 9)   ; 
}
//Wraps each letter listing
.a-z-filters__listing__letter {
    width: 100%;
    padding: 0 15px;
    @include rem-calc(margin-bottom, $padding-small-vertical * 5);
}
.no-flex {
    .a-z-filters__listing {
        @include make-row();
    }
    .a-z-filters__listing__letter {
        @include make-xs-column(12);    
    }
    
}
//h4 heading for each letter
.a-z-filters__listing__heading {
    font-weight: 400;
    @include rem-calc(font-size, 24);
    @include rem-calc(margin-bottom, 12);
    color: $gray;
}
//Listing for a letter eg "A"
.a-z-filters__listing__letter-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.a-z-filters__listing__letter-list__item--hidden, .a-z__item--hidden__text, .a-z__item--hidden__region {
    display: none;
}
.a-z-listing__filters__clear-all {
    clear: both;
    margin-top: 12px;
    svg {
        fill: #801515;
        
        width: 14px;
        height: 14px;
        margin-right: 4px;
    }
    a {
        color: $gray-dark;
        @include rem-calc(font-size, 15);
        font-weight: 400;
    }
    &:hover {
        cursor: pointer;
        svg {
           fill: darken(#801515, 5%);
        }    
    }
}
@media screen and (min-width: $screen-sm-min) {
     .a-z-listing__filter__label {
         width: 50%;
 
         &:first-child {
             margin-left: 0;
         }
     } 
    .a-z-filters__listing__letter  {
        width: 47.98927613941%;
        @include rem-calc(margin-bottom, 24);
    }
    //h4 heading for each letter
    .a-z-filters__listing__heading {
        @include rem-calc(font-size, 36);
        @include rem-calc(margin-bottom, 18);
    }
    .no-flex {
        .a-z-filters__listing__letter {
            @include make-sm-column(6);
        }
    }
    
}


@media screen and (min-width: $screen-lg-min) {
     .a-z-filters__listing {
         @include justify-content(flex-start);
    }
    .a-z-filters__listing__letter  {
        width: 33.3333333%;
        
    }
    
    
}


.back-to-top-link {
    @include clearfix;
    a {
        text-align: right;
        display: block;
        float: right;
    }
    .back-to-top-link__icon {
        display: inline-block;
        @include rem-calc(height, 16);
        @include rem-calc(width, 16);
        @include rem-calc(margin-left, $padding-small-vertical);
        svg {
            fill: inherit; 
             @include rem-calc(padding-top, $padding-small-vertical);
        }   
    }
}

/* 
 * Partner logos
 */
.dfa-partner-logos {
    
    .landing-feature__block {
        @include to-rem(margin, 16, 16);
    }
}
.dfa-partner-logos {
    @include clearfix;
    max-width: none;
    margin: 0;
    padding: 0;
    display: block;
}
.dfa-partner-logos__item {
    display: block;
    padding: 0 15px;
    list-style-image: none;
    list-style: none;
    float: left;
    width: 50%;
    a {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}
.dfa-partner-logos__image {
    margin: 4px auto;
    max-width: 100%;
    
    -webkit-filter:     grayscale(100%);
    filter:             grayscale(100%);
    -webkit-transition: 0.2s;
    transition: 0.22s;
    &:hover {
        -webkit-filter: grayscale(0%);
        filter:         grayscale(0%);
    }
}
@media (min-width: $screen-sm-min) {
    .dfa-partner-logos {
        @include to-rem(margin, 16, 24, auto);
        text-align: center;
        @include flexbox();
        @include flex-direction(row);
        justify-content: space-between;
        @include align-items(center);
    }
    .dfa-partner-logos__item {
        width: auto;
        @include flex-grow(1);
        @include flex-shrink(1);
        @include flex-basis(0);
    } 
    .no-flex {
        .dfa-partner-logos__item {
            max-width: 12.5%;
            margin: auto;
            display: inline-block;
            
            padding: 0 8px;
        }
    }
}
@media (min-width: $screen-lg-min) {
    .dfa-partner-logos {
        @include to-rem(margin, 18, 32, auto);
    }
}
/**
 * General content page
 *
 **/
/* Main body row */
.main-body {
    @include make-row;
}
.main-body__side-bar {
    @include make-md-column(3);
    a {font-weight: 400;}
}
.heading--side-bar {
    @include to-rem(font-size, 14, 16);
    font-weight: 600;
    margin: 0;
    
    @include to-rem(padding, 14, 14, 16);
    @include to-rem(margin-bottom, 14, 16); 
    background-color: $gray-lightest;
    border: 1px solid $brand-primary;
    position: relative;
    
    &:hover {
        cursor: pointer;
        background-color: transparent;
    }
    .inner-navigation__show-more__icon, .inner-navigation__show-less__icon {
        position: absolute;
        top: 19%;
        right: 8px;
        @include to-rem(width, 14, 28);
        @include to-rem(height, 14, 28);
    }
    &.active {
        margin-bottom: 0;
        background-color: $white;
        .inner-navigation__show-more__icon {
            display: none;
        } 
        .inner-navigation__show-less__icon {
            display: inline;
        }
    }
}
.inner-navigation__show-more__icon, .inner-navigation__show-less__icon {
    @include to-rem(width, 14, 18);
    @include to-rem(height, 14, 18);
}
.inner-navigation__show-less__icon {
    display: none;
}

.inner-navigation {
    display: none;
    list-style-image: none;

    padding: 0;
    margin: 0; 
    @include to-rem(padding, 14, 16, 0, 0); 
    @include to-rem(margin-bottom, 14, 22); 
    background-color: $gray-lightest;
    li {
        @include clearfix;
        list-style: none;
        li {
            a {
                @include to-rem(padding-left, 14, ($padding-small-vertical * 4)) ;
            }
        }
        > ul {
            @include to-rem(padding-left, 16, 12);
            @include to-rem(padding-bottom, 16, 12);
            display: none;
            @include to-rem(font-size, 16, 15);
        }
        
        &:last-child {
            border-bottom: none;
        }
    }
    
    a {
        display: block;
        clear: both;
        @include to-rem(padding, 14, ($padding-small-vertical * 2), ($padding-small-horizontal*1), ($padding-small-vertical * 2), ($padding-small-horizontal*1));
         &:hover {
            background-color: $gray-lightest;
        }
        @include dfa-transition(background-color, 120);
    }
    [class*='currentbranch'] {
        width: 90%;
        display: block;
        float: left;
         & + a {
                padding-left: 0;
                padding-right: 0;
                text-align: center;
                clear: none;
                float: right;
                width: 10%;
                &:hover {
                    background-color: $gray-light;     
                }
            }
    }
    .inner-navigation__parent-link {
                width: 85%;
                display: block;
                float: left;
                 & + .inner-navigation__show-more {
                        padding-left: 0;
                        padding-right: 0;
                        text-align: center;
                        clear: none;
                        width: 15%;
                        &:hover {
                            background-color: $gray-light;     
                        }
                         float: left;
                }
    }
    > li {
       border-bottom: 1px solid $gray-light;
        &.active {
            .inner-navigation__show-less__icon {
                display: inline;
            }
            .inner-navigation__show-more__icon {
                display: none;
            }
        }
       
    }
}
@media screen and (min-width: $screen-md-min) {
    .heading--side-bar {
        border: none;
        padding-top: 0;
        padding-left: 0;
        margin-bottom: 0;
        .inner-navigation__show-more__icon, .inner-navigation__show-less__icon {
             display: none !important;
        }
        background: transparent;
        &:hover {
            background: transparent;
            cursor: default;
        }
    }
    .inner-navigation {
            @include to-rem(padding, 14, 0); 
    
        background-color: transparent;
        display: block !important;
        .inner-navigation__parent-link {
                width: 85%;
                display: block;
                float: left;
                 & + .inner-navigation__show-more {
                        padding-left: 0;
                        padding-right: 0;
                        text-align: center;
                        clear: none;
                        width: 15%;
                        &:hover {
                            background-color: $gray-light;     
                        }
                         float: left;
                }
        }
        .inner-navigation__show-more__icon, .inner-navigation__show-less__icon {
                @include to-rem(width, 16, 20);
                @include to-rem(height, 16, 20);
        }
    }
}

.main-body__main {
    @include make-md-column(9);
    .content-heading {margin-top: 0;}

}

@media screen and (min-width: $screen-lg-min) {
    .main-body__main {
        @include make-md-column(9);
    }   
    /* 
     * Inner landing page 
     */
    .main-body--inner-landing {
       .main-body__main {
            @include make-md-column(9);
            margin-left: auto;
       }   
    }
}
/* 
 * Inner landing page 
 */
.main-body--inner-landing { 
    .landing-feature-section {
        &:first-child {
            padding-top: 0;
        }
    }
}

/** 
 * Footer 
 *
**/
footer {
    @include container-fixed;
    background-color: $brand-primary;
    color: $white;
    a {
        
        color: $white;
        &:active, &:hover, &:focus {
            color: $white;
        }
    }
}
.footer-row {
    @include make-row;
}
.footer-links, .footer-address {
     @include make-xs-column(12);
     @include rem-calc(padding-bottom, 36);
    text-align: center;
}
.footer-address {
    p {
        @include rem-calc(margin-bottom, 8);
        line-height: 1.4;
    }   
}
.footer-links {
    ul {
        padding: 0;
        margin: 0; 
    }
   li {
        list-style: none;
    }
}
@media screen and (min-width: $screen-sm-min) {
    .footer-links, .footer-address {
         @include make-xs-column(6) ;
         @include to-rem(font-size, 16, 16);
    }
    .footer-links {
         text-align: left;
        li {
             @include to-rem(margin-bottom, 16, 4);            
        }
    }
    .footer-address {
        text-align: right;
    }
}

/* Misc classes */
.dfa-audio-link {
    background-image: url(../../style-assets/media/svg-imgs/speaker_icon.svg);
    background-repeat: no-repeat;
    background-position: 4px center;
    @include rem-calc(background-size, 16);
    @include rem-calc(padding-left, 26); 
   
}

/* 
 *
 * Overriding libraries 
 *
 */
/* Extends or overwrites some of http://ashleydw.github.io/lightbox/ */
.ekko-lightbox-item {
    img  {width: 100%;}
}
.ekko-lightbox {
    &.modal {
     z-index: 1200;
    }
    &.modal-backdrop {
        &.in {
            opacity: 0.76;
        }
    }
    .modal-dialog {
        top: 45%;
    }
    .modal-content {
        color: $white;
        background-color: $gray-dark;
        border-bottom-color: #000;
        border-radius: 0;
                top: 50%;
        transform: translate(-0%, -50%);
    }
    .modal-header {
        border-bottom: none;
    }
}

/*
 * Styling and classes adapded and carried over from Old Site
 *
 */
/* Language switchers - from old site */
.en .lang-switcher.en, .hu .lang-switcher.hu, .ie .lang-switcher.ie, .zh .lang-switcher.zh,  .pl .lang-switcher.pl, .es .lang-switcher.es { display: none; }

/* Utility classes from old site */
.casestudy-banner {
    margin: 10px 0;
    position: relative;
}   
.content .info {
    border: medium none;
    margin-left: 5px;
    vertical-align: bottom;
}
.casestudy-banner .info {
    background-color: #000;
    bottom: 30px;
    font-size: 20px;
    left: 20px;
    padding-bottom: 20px;
    position: absolute;
    width: 315px;
}
.casestudy-banner .info p {
    color: #F0F0F0;
    line-height: 23px;
    margin: 0;
    padding: 18px 15px 0 18px;
}

/* Print only class */
.print-only { display: none;}

/* Print and Share options - old build */
.share {
    @include clearfix;
    padding: 8px 16px 16px;
    border: 2px solid $gray-light;
    border-radius: 4px;
    @include rem-calc(margin-bottom, 16);
    &:hover {
        cursor: pointer;
    }
}
.share span {
    display: block;
    padding-top: 8px;
    @include rem-calc(font-size, 14);
}
.share img {
    
    margin-right: 8px;
}
.print-page {
    background-color: #F1F1F1;
    padding: 16px 16px;
    @include rem-calc(margin-bottom, 16);
}
.print-page__link {
    @include rem-calc(font-size, 14);
    
    padding-left: 28px;
    background: url(http://dfa.ie/media/dfa/styleassets/images/print-icon.jpg) no-repeat scroll 0 1px transparent;
    display: block;
}
.taglinks {
    display: none !important;
}