                           <!-- Discovery slider slide -->
                           <div class="discovery-slider__slide">
                               <div class="discovery-slider__slide__bg">
                                    <div class="discovery-slider__slide__img-wrap" style="">
                                        <img src="style-assets/media/imgs/Children-and-GAA-mascots-Croke-Park-Stadium-big.jpg" class="discovery-slider__slide__img" alt="Image" />
                                    </div>
                                    <div class="discovery-slider__slide__text">
                                        <h2 class="discovery-slider__text_cat"><a href="javascript:void()"><span class="content-label">Sport, Culture and Heritage</span></a></h2>
                                        <h3 class="discovery-slider__text_heading">The Gaelic Athletic Association</h3>
                                        <p>The GAA plays a key role in the cultural life of Irish communities abroad and promotes Irish heritage and identity around the world.</p>
                                        <p>The GAA is the largest Irish organisation abroad.  There are over 400 GAA clubs overseas. These are often the first stop for many newly arrived Irish emigrants.</p>
                                        <p class="read-more"><a class="btn btn-primary--reversed" href="javascript:void()">Read more</a></p>
                                    </div>  
                                </div><!-- // .discovery-slider__slide__bg --> 
                           </div>
                          <!-- // Discovery slider slide -->
                          <!-- Discovery slider slide--video -->
                           <div class="discovery-slider__slide discovery-slider__media">
                               <div class="discovery-slider__slide__bg bg-gradient">
                                    <div class="discovery-slider__slide__img-wrap" style="">
                                        <a href="http://youtu.be/4wTtWfq03bg" data-gallery="AIEF 2017" data-toggle="lightbox" data-title="Irish Music & Dance" data-footer="Traditional and contemporary Irish music and dance remain very popular with the Irish diaspora." >
                                            <div class="gallery-item-play dfa-card--video__play media-play-icon">
                                                <div class="play-media dfa-icon dfa-card--video__play-icon ">
                                                    <svg class="dfa-svg-icon">
                                                        <use href="#play_icon" />
                                                    </svg>   
                                                </div>                                
                                             </div>  
                                            <img src="style-assets/media/imgs/irish-dancing-st-patricks-day-parades-chicago.jpg" class="discovery-slider__slide__img" alt="Irish dancing" />
                                        </a>
                                    </div>
                                    <div class="discovery-slider__slide__text">
                                        <h2 class="discovery-slider__text_cat"><a href="javascript:void()"><span class="content-label">Sport, Culture and Heritage</span></a></h2>
                                        <h3 class="discovery-slider__text_heading">Irish Music &amp; Dance</h3>
                                        <p>Traditional and contemporary Irish music and dance remain very popular with the Irish diaspora.</p>
                                        <p>In the last twenty years alone, Irish dance has been seen by more audiences worldwide than ever before due in part to the incredible Riverdance phenomenon.</p>
                                        <p class="read-more"><a class="btn btn-primary--reversed" href="javascript:void()">Read more</a></p>
                                    </div>   
                                </div><!-- // .discovery-slider__slide__bg -->
                            </div>
 
                           <!-- // Discovery slider slide -->
                           <!-- Discovery slider slide--text -->
                           <div class="discovery-slider__slide discovery-slider__text-only">
                               <div class="discovery-slider__slide__bg" >
                                    <div class="discovery-slider__slide__text">
                                        <h2 class="discovery-slider__text_cat"><a href="javascript:void()"><span class="content-label">Sport, Culture and Heritage</span></a></h2>
                                        <h3 class="discovery-slider__text_heading">Irish Cultural Events</h3>
                                        <div class="discovery-slider__text-only__body">
                                            <p class="intro">Culture is a huge part of the Irish identity and, as a nation we are renowned for our writers, actors and artists.</p>
                                            <p>In the last twenty years alone, Irish dance has been seen by more audiences worldwide than ever before due in part to the incredible Riverdance phenomenon.</p>  

                                            <h4><a href="javascript:void(0)">Culture Ireland</a></h4>  
                                            <p>Culture Ireland recognises the significance of culture and cultural identity for our emigrants.  It supports arts events which offer an important opportunity to engage with the diaspora and support them in maintaining their cultural ties to Ireland. Website: <a href="javascript:viod(0)">www.cultureireland.ie</a></p>

                                            <h4><a href="javascript:void(0)">Inspiring Ireland</a></h4>
                                            <p>Inspiring Ireland is an ambitious project to share high quality images of Ireland’s treasured cultural assets in a single curated, interactive website <a href="javascript:viod(0)">www.inspiring-ireland.ie</a></p>

                                            <h4><a href="javascript:void(0)">Breaking Tunes</a></h4>
                                            <p>Breaking Tunes is an online music portal which contains information and resources for Irish bands and artists, industry professionals, media, and fans, at home and abroad, including details and playlists of over 5,000 emerging and established Irish acts. Breaking Tunes is a project run by <a href="javascript:void(0)">First Music Contact</a>, a free information &amp; advice resource for Irish musicians at any career level, and is funded by The Arts Council.</p>
                                        </div>
                                        <p class="read-more"><a class="btn btn-primary--reversed" href="javascript:void()">Read more</a></p>
                                    </div>
                                </div><!-- // .discovery-slider__slide__bg -->   
                           </div>
                           <!-- // Discovery slider slide--text -->
                           <!-- Discovery slider slide--text -->
                           <div class="discovery-slider__slide discovery-slider__text-only">
                               <div class="discovery-slider__slide__bg bg-image" style="background-image: url('style-assets/media/imgs/irish-dancing-st-patricks-day-parades-chicago.jpg')">
                                    <div class="discovery-slider__slide__text">
                                        <h2 class="discovery-slider__text_cat"><a href="javascript:void()"><span class="content-label">Sport, Culture and Heritage</span></a></h2>
                                        <h3 class="discovery-slider__text_heading">Irish Cultural Events</h3>
                                        <div class="discovery-slider__text-only__body">
                                            <p class="intro">Culture is a huge part of the Irish identity and, as a nation we are renowned for our writers, actors and artists.</p>
                                            <p>In the last twenty years alone, Irish dance has been seen by more audiences worldwide than ever before due in part to the incredible Riverdance phenomenon.</p>  

                                            <h4><a href="javascript:void(0)">Culture Ireland</a></h4>  
                                            <p>Culture Ireland recognises the significance of culture and cultural identity for our emigrants.  It supports arts events which offer an important opportunity to engage with the diaspora and support them in maintaining their cultural ties to Ireland. Website: <a href="javascript:viod(0)">www.cultureireland.ie</a></p>

                                            <h4><a href="javascript:void(0)">Inspiring Ireland</a></h4>
                                            <p>Inspiring Ireland is an ambitious project to share high quality images of Ireland’s treasured cultural assets in a single curated, interactive website <a href="javascript:viod(0)">www.inspiring-ireland.ie</a></p>

                                            <h4><a href="javascript:void(0)">Breaking Tunes</a></h4>
                                            <p>Breaking Tunes is an online music portal which contains information and resources for Irish bands and artists, industry professionals, media, and fans, at home and abroad, including details and playlists of over 5,000 emerging and established Irish acts. Breaking Tunes is a project run by <a href="javascript:void(0)">First Music Contact</a>, a free information &amp; advice resource for Irish musicians at any career level, and is funded by The Arts Council.</p>
                                        </div>
                                        <p class="read-more"><a class="btn btn-primary--reversed" href="javascript:void()">Read more</a></p>
                                    </div>
                                    <div class="transparent-image-overlay transparent-image-overlay--mid"></div>
                                </div><!-- // .discovery-slider__slide__bg -->   
                           </div>
                           <!-- // Discovery slider slide--text -->