/* 
 * Various Cards
 */
//DFA Card - base
.dfa-card {
    @include make-sm-column(12);
    @include to-rem(margin-bottom, 14, 20);
    &:last-child {
        margin-bottom: auto;
    }
}
.dfa-card__wrap {
    background-color: $white;
    @include clearfix;
}
.dfa-card__card-text {
    @include to-rem(padding, 16, ($padding-small-vertical * 4), ($padding-small-horizontal * 2));
}
.dfa-card__card-text__heading {
    line-height: 1.555;
    
    margin-top: 0;
    @include rem-calc(margin-bottom, 8);
    @include to-rem(font-size, 14, 16);
}
.dfa-card__card-text__heading, .dfa-card__card-text__text {
    @include dfa-transition(all, 200, cubic-bezier(0.420, 0.000, 0.580, 1.000));
}
.dfa-card__card-text__text {
    margin-bottom: 0;
    @include rem-calc(font-size, 16);
}
.dfa-card__anchor {
    @include clearfix;
    color: $gray-dark;
    font-weight: 400;
    &:hover, &:active, &:focus {
        cursor: pointer;
        color: $brand-darker;
        text-decoration: none;
        .dfa-card__btn {
            color: $white;
        }
 
        .dfa-card__date, .dfa-card__btn {
            text-decoration: none;
        }
    }
}

.dfa-card--dropshadow {
    .dfa-card__wrap {
         @include dfa-box-shadow;
         background-color: #fbfcfd;
         transition: all 0.18s cubic-bezier(.25,.8,.25,1);    

    }
    
    .dfa-svg-icon {
        fill: $brand-primary;
        fill: rgba($brand-primary, 0.8);
        position: absolute;
        top: 50%;
        left: 50%;
        @include dfa-translate(-50%, -50%);
        @include rem-calc(max-height, ($padding-small-vertical * 10)); 
        @include rem-calc(min-height, 28); 
    }    
    &:hover {
        .dfa-card__wrap {   
            background-color: $white;
        }
        .dfa-svg-icon {
            fill: rgba($brand-primary, 1);
        }
    }    
}

/* Horizontal card */
.dfa-card {
    &.dfa-card--horizontal {
        .dfa-card__wrap {
            background-color: #fbfcfd;
            transition: all 0.18s cubic-bezier(.25,.8,.25,1);    
        }
        
        .dfa-card__anchor {
            @include clearfix ;
        }
        .dfa-card__card-text, .dfa-card__media  {
            float: left;
        }
        &.dfa-card--horizontal--w-image {
                
        }
        .dfa-card__media {
            border-left: 1px solid $gray-lighter;
            position: relative;
            @include rem-calc(padding, 0, $padding-small-vertical * 6);
            min-height: 100%;
            float: right;
            background-repeat: no-repeat;
            background-size: cover;
            transition: all 0.18s cubic-bezier(.25,.8,.25,1);
        }
        .dfa-card__card-text {
            width: 80%;
        }
        .dfa-svg-icon {
            fill: $gray-dark;
            position: absolute;
            top: 50%;
            left: 50%;
            @include dfa-translate(-50%, -50%);
            @include rem-calc(max-height, ($padding-small-vertical * 10)); 
            @include rem-calc(min-height, 28); 
        }
        &:hover {
            .dfa-card__wrap {   
                background-color: $white;
            }
            .dfa-svg-icon {
                fill: $brand-primary;
            }
        }
    }    
}
/* Plain card */
.dfa-card {
    //Has an icon
    &.dfa-card--plain {
        
        img {
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
        }
        .dfa-card__card-text { 
            @include to-rem(padding-top, 14, 16);
            @include to-rem(padding-bottom, 14, 16);
        }
        .dfa-card__card-text__heading {
            @include to-rem(font-size, 14, 22);
            @include to-rem(margin-bottom, 14, 12);
        }
        .dfa-card__card-text__text {
            @include to-rem(font-size, 16, 18px);
        }
        .dfa-card__wrap {
            border: 1px solid $gray-light;
            border-radius: 8px;
        }
    }
}
.dfa-card--plain--icon {
    .dfa-card__anchor {
        @include clearfix;
    }
    .dfa-card__card-text, .dfa-card__icon {
        float: left;
    }
    .dfa-card__card-text {
        width: 82.3%;
    } 
    .dfa-card__icon {
        width: 17.7%;
        position: relative;
    }
    .dfa-svg-icon {    
        width: 76.4%;
        max-height: 76px;
        position: relative;   
        display: block;
        margin: 0 auto;
        top: 50%;
        fill: $gray-dark;
        @include dfa-transition(fill, 200, cubic-bezier(0.420, 0.000, 0.580, 1.000));
        transform: translateY(-50%);
    }
    &:hover, &:focus, &:active {
         .dfa-svg-icon {
                fill: $brand-primary;
         }   
    }
}
/* Numbers card */
.dfa-card--numbers {
    .dfa-card--media {
        position: relative;
        background-color: $brand-primary;
        @include to-rem(min-height, 16, 200);
        background-position: top center;
        background-size: cover;
    }
    .dfa-card__card-text {
        text-align: center;
    }
    .dfa-card__wrap {
        border: 1px solid $gray-lightest;
    }
    
    .dfa-card__card-text__heading {
        @include to-rem(font-size, 14, 20);
//        text-transform: uppercase;
        font-weight: 600;
    }
    .dfa-card__card-text__text {
        @include to-rem(font-size, 14, 16);
    }
}
.dfa-card__numbers__number {
    font-size: 72px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    @include dfa-translate(-50%,-50%);
    color: $white;
}
/* 
 * DFA Widget Card
 */
.dfa-card {
    &.dfa-card--widget {
        background-color: transparent;
        border-bottom: none;
    }    
}

.dfa-card--widget__background {
    background-color: $white;
    border-bottom: 6px solid $gray-light;
}
.dfa-card--dropshadow {
    .dfa-card--widget__wrap {
        @include dfa-box-shadow;
    }
}
.dfa-widget-img {
    @include img-responsive;
    width: 100%;
}
.dfa-widget-body {
    @include rem-calc(padding, ($padding-small-vertical * 5), ($padding-small-vertical * 5));
    @include dfa-transition(background-color, 220, ease-out);
}
.dfa-widget-heading, .dfa-card__heading {
    @include rem-calc(font-size, 22);
    line-height: 1.24;
    margin-top: 0;
    @include rem-calc(margin-bottom, ($padding-small-vertical * 3));
    @include dfa-transition(color, 200);
}
.dfa-widget-date, .dfa-card__date {
    @include rem-calc(font-size, 16);
    margin-top: 0;
    @include rem-calc(margin-bottom, ($padding-small-vertical * 5.5)); 
    color: $gray-lighter;
}
.dfa-widget-anchor {
    font-weight: 400;
}
.dfa-widget-anchor {
    
    color: inherit;
    &:hover, &:active, &:focus {
        color: inherit;
        text-decoration: none;
        h1, h2, h3, h4, h5, h6 {
            text-decoration: none;
            color: $brand-primary;
        }

    }
    
}
.dfa-widget-btn {
    @include rem-calc(font-size, 16);
    
    //transform: translate(-0, 50%);
}
@media screen and (min-width: $screen-sm-min) {
    .dfa-card__card-text__heading {
        @include to-rem(font-size, 16, 16);
    }
    .dfa-card__card-text__text {
        @include to-rem(font-size, 16, 16);    
    }
    .dfa-widget-body {
        @include rem-calc(padding-bottom, ($padding-small-vertical * 11));
    }
    .dfa-widget-btn {
        margin: 0;
        position: absolute;
        bottom: 14px;
        @include rem-calc(bottom, 18);
    }
    .dfa-card--numbers {
            .dfa-card--media {
                @include to-rem(min-height, 16, 200);
            }
        .dfa-card__card-text__heading {
            @include to-rem(font-size, 16, 20);
        }
    }
}
@media screen and (min-width: $screen-lg-min) {
    .dfa-card__card-text {
        @include to-rem(padding, 18, ($padding-small-vertical * 4), ($padding-small-horizontal * 2));
    }
    .dfa-card__card-text__text {
        @include to-rem(font-size, 18, 16);  
    }
    .dfa-card--numbers {
        .dfa-card--media {
            @include to-rem(min-height, 18, 200);
        }
        .dfa-card__card-text__heading {
            @include to-rem(font-size, 18, 20);
        }
        .dfa-card__card-text__text {
            @include to-rem(font-size, 18, 16);
        }
    }
}
/* 
 * Carried over from old site and restyles - DFA Double Section Box content type
**/
.double-section-box {
    background-color: $white;
    @include make-row;
    &:nth-last-child(1) {
        @include rem-calc(margin-bottom, 24);
    }
}
.double-section-box__box {
    float: left; 
    @include make-xs-column(12);
    @include rem-calc(margin-top, 16);
    .double-section-box__box-text {
        a {
            color: inherit;
        }        
    }
    
}
.double-section-box__box__wrap {
    @include make-row(0);
    @include dfa-box-shadow;
    @include clearfix;
    background-color: #fbfcfd;
    transition: all 0.18s cubic-bezier(.25,.8,.25,1);    
    overflow: hidden;
}

.double-section-box__img-link {
    display: inline-block;
    overflow: hidden;
    float: left;
    width: 25%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    > img {
        width: 100% !important;
        height: 100% ;
    }
    

}
    @media screen and (min-width: $screen-sm-min) {
        .double-section-box__img-link {
            width: 17.85%;
        }
    } 

.double-section-box__box-text {
    @include make-xs-column(9,0);
    @include rem-calc(padding, 14, 14, 14, 18);
    > h3 {
        margin-top: 0;
        @include rem-calc(font-size, 18);
        @include rem-calc(margin-bottom, 4);
    }
}
@media screen and (min-width: $screen-md-min) {
    .double-section-box__box {
        width: 50%;
        @include rem-calc(margin-top, 20);
    }
    .double-section-box__img-link {
         width: 25%;
    }
    .double-section-box__box-text {
        
        > h3 {
            margin-top: 0;
            
        }
        > a {
                display: block;
                @include to-rem(font-size, 16, 14);
         
        }
    }
}
/* 
 *    Big landing feature image - not a hero 
 */
.landing-feature-image__block {
    @include make-xs-column(12);
    
}
@media screen and (max-width: $screen-xs-max) {
    .landing-feature-section {
        &.landing-feature-image {
            @include rem-calc(padding-bottom, 0);
        }    
    }    
}
@media screen  and (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
    .landing-feature-section {
        &.landing-feature-image {
            padding-top: 0;
            @include rem-calc(padding-bottom, 12);
            position: relative;

        }    
    }    
}
.landing-feature-image__img {
    position: relative;    
    width: 100%;
} 
.landing-feature-image__card {
    @include clearfix;
    position: relative;
    background-color: $white;
    p {
        margin-bottom: 0;
    }
    @include rem-calc(padding, 16, 0);
    @include rem-calc(padding-right, 12);
    &:hover {
        background-color: $white;
    }
    @include dfa-transition(background-color, 212);
}
.landing-feature-image__card__text__heading {
    font-weight: 700;
    @include rem-calc(font-size, 20px);
    margin-top: 0;
    @include rem-calc(margin-bottom, 12);
}

.landing-feature-image__card__anchor {
    color: inherit;
    @include clearfix;
    .landing-feature-image__card__text {
        width: 88%;
        float: left;
        padding-right: 12px;
    }
    .landing-feature-image__card__link-icon {
        width: 12%;
        
        float: left;
    }
    
    @include dfa-transition(color, 212);
    
    &:hover {
        text-decoration: none;
        color: $brand-darker;
/*        p {
            text-decoration: underline;
        }*/
        .dfa-svg-icon {
            fill: $brand-darker;
        }
    }
    .dfa-svg-icon {
        @include rem-calc(max-height, 72px);
        fill: $gray-dark;
        @include dfa-transition(fill, 212);
        position: relative;
        top: 50%; 
        transform: translateY(-50%);
    }
}
@media screen and (min-width: $screen-sm-min) {
    .landing-feature-image__card__text__heading {
            @include rem-calc(font-size, 28px);
    }
}
@media screen and (min-width: $screen-md-min) {
    .landing-feature-image__card {
        @include dfa-box-shadow();
        position: absolute;
        z-index: 10;
        bottom:   11.8%;
        left:     11.8%;
        max-width: 38.2%;
        @include dfa-translate(-11.8%, -11.8%);
        @include border-radius(8px);
        @include rem-calc(padding, 16, 20, 22, 20);
        @include rem-calc(padding-right, 12);
    }
    .landing-feature-image__card__text__heading {
        @include rem-calc(font-size, 24px);
    }

    .landing-feature-image__card__anchor {
        .landing-feature-image__card__text {
            width: 84%;
            
        }
        .landing-feature-image__card__link-icon {
            width: 16%;
            
        }
    }
}


/* 
 * Card rows
 */
@import 'flex-mixins'; 
/* Flex row */
.landing-feature-section--flex  {
    .landing-feature__row {
        display: flex;
        @include flex-direction(column);
  
    }
}

.landing-feature-section--flex-space-between {
    .landing-feature__row {
        @include justify-content(space-between);
    }
}

/* Two col rows */

/* Four col rows */
@media screen and (min-width: $screen-sm-min) {
    .features-row--four-col, .features-row--two-col {
        .dfa-card {
            width: 50%;
        }
        .dfa-widget-body {
                @include rem-calc(padding, ($padding-small-vertical * 4), ($padding-small-vertical * 4), ($padding-small-vertical * 8));
        }
        
        .dfa-widget-heading {
            @include rem-calc(font-size, 18);
            line-height: 1.24;
        }
        .dfa-widget-date {
            @include rem-calc(font-size, 14);
        }
       .dfa-widget-btn {
            @include rem-calc(font-size, 14);
            @include rem-calc(bottom, 16);
       }
    }    
    
    .dfa-card {
        &.dfa-card--horizontal {
            .dfa-card__card-text__text {
                @include to-rem(font-size, 16, 14);
            }
        }    
    }
    .landing-feature-section--four-col, .landing-feature-section--two-col, .landing-feature-section--river, .landing-feature-section--flex {
        .dfa-card {
            width: 50%;
        }
    }
    
        .dfa-card {
            &.dfa-card--horizontal, &.dfa-card--plain--icon {
                &:nth-child(odd) {
                    clear: left;
                } 
            }
        }
    
    .landing-feature-section--flex {
        .landing-feature__row {
            @include flex-direction(row);
            @include flex-wrap(wrap);
            @include justify-content(space-around);
            .dfa-card {
                float: none;
                @include flex-grow(1);
                @include flex-shrink(1);
                @include flex-basis(50%);
                margin: 0 auto;
                @include rem-calc(margin-bottom, 16);
                max-width:  50%;
                width: auto;
            }
        }
    }
    .no-flex {
        .landing-feature-section--flex {
            .landing-feature__row {
                .dfa-card {
                    width: 25%;
                    float: left;
                    &.dfa-card--horizontal, &.dfa-card--plain--icon {
                       width: 50%;
                    }
                }
                
            }
        }   
    }
}
@media screen and (min-width: $screen-md-min) {
    .features-row--four-col {
        .dfa-card {
            @include make-md-column(3);
        }
    }    
    .landing-feature-section--four-col, .landing-feature-section--two-col {
        .dfa-card {
            @include make-md-column(3);
        }
    }
    .landing-feature-section {
        &.landing-feature-section--river {
            .dfa-card {
                @include make-md-column(6);
            }
        }
    }
    .landing-feature-section--flex-stretch {
         .landing-feature__row {
            @include flex-direction(row);
            @include flex-wrap(initial);
            .dfa-card {
                @include flex-basis(0);
            }
        }
    }
    .landing-feature-section--flex-stretch {
         .landing-feature__row {
            .dfa-card {
                max-width: none;
            }
        }
    }    
    .landing-feature-section--flex-space-between {
         .landing-feature__row {
            .dfa-card {
                max-width: 25%;
            }
        }
    } 
}
@media screen and (min-width: $screen-lg-min) {
    .landing-feature-section--flex-space-between {
        .dfa-card {
            max-width: 25%;
        }

    }
}