/**
  * Various code containers for landing and inner pages
**/
/* Twitter scroller - feature scroller with a Twitter feed */
.scroller-feed {
    .slick-dots {
        li {
            button {
                width: 32px;
                height: 32px;
                &:before {
                    width: 32px;
                    height: 32px;
                    color: $brand-darker;
                    font-size: 32px;
                }                            
            }
        }
    }
}
.landing-feature-section {
    &.scroller-feed {
        @include rem-calc(padding-top, 36);
        @include rem-calc(padding-bottom, 36);        
    }
}
@media screen and (min-width: $screen-md-min) {
    .landing-feature-section {
        .scroller-feed {
            @include rem-calc(padding-top, 48);
            @include rem-calc(padding-bottom, 48);
        }
    }   
}
//Scroller bootstrap col
.scroller-feed__scroller-block {
    @include make-xs-column(12, 0);
}
//linked image scroller 
.scroller-feed__item__img {
    @include img-responsive--fw;
}
.scroller-feed__item {
    position: relative;
    .landing-feature-image__card {
        @include border-radius(0);
        box-shadow: none;
    }  
    a {
        &:active, &:hover, &:focus {
            text-decoration: underline;
            .scroller-info__card { 
                @include dfa-transparent($alpha: 0.8);                
            }
        }
    }
}

.scroller-feed {
    .scroller-feed__controls__desktop {
        display: none;
    }
    .scroller-feed__controls__mobile {
        background-color: $gray-lightest;
        margin: 0;
        padding-top: 8px;
        padding-right: 15px;
        width: 100%;
        .discovery-slider__controls__pause {
            background-color: $white;
        }
       
    } 
    
    .discovery-slider__controls__pause {
        background-color: $gray-lightest;
        .dfa-svg-icon {
            fill: $brand-primary;
        }
        &:hover, &:focus, &:active {
            background-color: lighten($brand-primary, 8%); 
            .dfa-svg-icon {
                fill: $white;
            }
        }
        &.discovery-slider__controls__paused {
            padding: 4px;
            background-color: lighten($brand-primary, 8%); 
            .dfa-svg-icon {
                fill: $white;
            }
        }
       
        
    }
}
.scroller-info__card {
    color: $white;
    @include dfa-transparent($alpha: 0.5);
    position: absolute;
    left: 4.2375%;
    bottom: 11.3%;
    //@include dfa-translate(-0%,50%);
    @include rem-calc(padding, 14px, 16px); 
    @include dfa-transition(background-color, 180);
    &:active, &:hover, &:focus {
        @include dfa-transparent($alpha: 0.8);
    }
    hr {
        margin-top: 0;
        @include rem-calc(margin-bottom, 12px);    
    }
   
}
.scroller-feed__item__heading {
    margin-top: 0;
    @include rem-calc(margin-bottom, 12px);
}
.scroller-feed__item__sub-text {
    font-weight: 400;
    @include rem-calc(margin-bottom, 0px);
    .dfa-svg-icon {
        display: inline-block;
        fill: $white;
        width: 14px;
        height: 16px;
        margin-bottom: -3px;
    }
}
.scroller-feed__item__read-more {
    @include rem-calc(font-size, 12px);
    margin-bottom: 0;
    
}
.feed-scroller__icon {    
    display: inline-block;
    height: 16px;
    @include rem-calc(padding-top, 8px);
}


//Feed bootstrap col
.landing-section__twitter-block {
    @include make-xs-column(12);
    background-color: $gray-lightest;
}

.twitter-feed-block {
    width: 100%;
    @include clearfix ;
}

@media screen and (min-width: $screen-md-min) {
    .landing-section__twitter-block {
        overflow: hidden;
    }
    .scroller-feed__scroller-block {
        @include make-md-column(8,0);
        padding-left: 15px;
    }    
    .scroller-feed {
        .scroller-feed__controls__desktop {
            margin: 0;
            display: block;
            @include make-md-column(8);
        }
        .scroller-feed__controls__mobile {
            display: none;
        }        
    }
    .landing-section__twitter-block {
        @include make-xs-column(4, 0);    
    }
    .twitter-block__inner-wrap {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Code container - wraps misc code - usually iframes so they fill the width of the content area */
.code-container__block {
    @include make-xs-column(12);
}

.embed-container-wrapper {
    iframe {
        border: 1px solid $gray-lighter;
        width: 100% !important;
    }
    &.embed-container-wrapper--news {
        iframe {
            min-height: 220px;
            max-height: 400px;
        }
    }
}
.main-section--landing {
    .embed-container-wrapper {
        iframe {
            width: 100% !important;
            height: auto !important;
            @include rem-calc(min-height, 400) ;
        }
    }    
}
@media screen and (min-width: $screen-sm-min) {
    .main-section--landing { 
        .embed-container-wrapper {
            iframe {
                @include rem-calc(min-height, 550) ;
            }
        }
    }
    .embed-container-wrapper {
        &.embed-container-wrapper--news {
            iframe {
                min-height: 360px;
            }
        }
    }
}
@media screen and (min-width: $screen-md-min) {
    .main-section--landing { 
        .embed-container-wrapper {
            iframe {
                   @include rem-calc(min-height, 680) ;
            }
        }
    }
    .embed-container-wrapper {
        &.embed-container-wrapper--news {
            max-width: 820px;
            iframe {
                min-height: 480px; 
            }
        }
    }
    
}