.landing-feature-section {
    &.cookies-notice-section {
        background-color: #f1f1f1;
        margin-left: 0;
        margin-right: 0;
        @include rem-calc(padding-top, 18);
        @include rem-calc(padding-bottom, 28);
    }
}
#cookieNotice {
    display: none; 
}
.cookieHolder {
    @include make-xs-column(12);
    .btn-primary {
            &:hover {
                background-color: $gray-light;
                color: $brand-darker;
            }
    }
}
.cookies-heading {
    margin-top: 0;
    @include rem-calc(margin-bottom, 16);
}
@media screen and (min-width: $screen-sm-min) {
    .cookies-heading {
        margin-top: 0;
        @include rem-calc(font-size, 28) ;
    }   
}
@media screen and (min-width: $screen-md-min) {
    .cookies-text {
        padding-right: 15px;
        width: 76.4%;
        p {
            max-width: 960px;   
        }
    }
    .cookies-button {
        @include rem-calc(margin-top, 40) ;
        padding-left: 45px;
        width: 23.6%;
        
    } 
    .cookies-button__text { 
        
       .btn { 
           display: inline-block; 
           @include rem-calc(margin-top, 8);
        }
    }
    .cookies-text, .cookies-button {
        float: left;
    }   
}