/* 2017 Forms */
.dfa-form {
    @include to-rem(margin-bottom, 14, 16);
    /* Form base */
    label:not(.dfa-form__label-select), textarea, input[type='text'] {
        display: block;
        width: 100%;        
    }
    .dfa-form__label-select {
        display: inline-block;
        @include to-rem(margin-right, 14, 8);
    }
    textarea, input[type='text'], .dfa-form__checkbox-container, .dfa-form__radio-container, .dfa-form__select {
        @include to-rem(margin-bottom, 14, 16);
        &.dfa-form__error {
           border: 2px solid darkred;
        }
    }
    /* Checkbox, radio button wrappers */
    .dfa-form__checkbox-container, .dfa-form__radio-container {
        @include to-rem(padding-left, 14, 15);
        &.dfa-form__error {
            @include to-rem(padding-top, 14, 4);
            @include to-rem(padding-top, 14, 4);
            border: 2px solid darkred;
        }
        
    }
    /* Select list */
    .dfa-form__select {
        @include to-rem(margin-top, 14, 4);
        &.dfa-form__error {
             border: 1px solid darkred;
        }
    }    
    /* Error messages */
    label {
        &.dfa-form__error {
            font-size: 0.9rem;
        }
        &.dfa-form__checkbox-label, &.dfa-form__radio-label  {
            float: none; display: inline; margin-right: 0; font-weight: normal; margin-left: 5px;        
        }
    }
    /** Errors list **/
    .dfa-form__errors {
        background-color: $gray-lightest;
        border: 2px solid darkred;
        @include to-rem(padding, 16, 8, 12);
        @include to-rem(margin-bottom, 16, 16);
        @include to-rem(max-width, 16, 480);
        label {
            font-weight: 400;
        }
    }
    /* Submit */
    .dfa-form__submit-btn {
        @include to-rem(margin-top, 14, 8);
        @include to-rem(margin-bottom, 14, 16);
    }
}


@media screen and (min-width: $screen-sm-min) {
    label, textarea, input[type='text'], .dfa-form__checkbox-container, .dfa-form__radio-container {
        display: block;
        @include to-rem(max-width, 16, 480);
    }
}