/*
 *   Discovery slider
 *   A standard slide has an image, text, a label about the content category and CTA button
 *   There can be a video or an image - video opens in a lightbox
 *   A text only version can be used  it can have the green gradient background or a background image - the text is columnized > 1024px s
 */
.discovery-slider {
    &.landing-feature-section {
        @include rem-calc(padding-bottom, 36);
    }
    .gallery-item-play {
        @include dfa-translate(-50%, -50%);
    }
    .landing-feature--heading {
        max-width: none;
    }
}
/* A slide */
.discovery-slider__slide {
    @include make-xs-column(12, 0);
    @media screen and (min-width: $screen-sm-min) {
        @include make-sm-column(12); 
        
    }
}
/* Wrapper for the image to contain it and make sure it's the same height as the text block @ greater than 1024px */
.discovery-slider__slide__img-wrap {
    position: relative;
    width: 100%;
    float: left;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @media screen and (min-width: $screen-md-min) {
        width: 66.66666%;
        min-height: 460px;
    }
}
/* The image */
.discovery-slider__slide__img {
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        @include dfa-translate(-50%, -50%);
    }
}
/* Background gradient - can also be a background image in text-only slides */
.discovery-slider__slide__bg {
    position: relative;
    @include clearfix;
    width: 100%;
    background-color: $white;
    &.bg-gradient, &.bg-image {
        .discovery-slider__slide__text {
            color: $white;
            border-bottom: none;
        }
        .discovery-slider__text_cat {
            .content-label {
                background-color: $white;
                color: $gray-dark;
            }
        }
       
    }
    &.bg-gradient {
        /* 45 deg gradient */
        background: rgb(0,80,54); 
        background-image: linear-gradient(-18deg, rgba(0,80,54,1) 0%,rgba(0,104,69,1) 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005036', endColorstr='#006845',GradientType=1 ); 
        
    }
    &.bg-image {
         .btn {
            color: $white;
            background-color: transparent;
            border-color: $white;
            &:hover, &:active, &:focus {
                color: $gray-dark;
                background-color: $white;
                background-color: rgba(258, 258, 258, 0.8);   
            }
        }
    }
}
/* Standard text - pulls right > 1024px */
.discovery-slider__slide__text {
    color: $gray-dark; 
    width: 100%;
    float: left;
    margin: 0 auto;
    @include to-rem(padding, 14, 20, 14, 54);
    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
        break-after: avoid-column;
    }
    a:not(.btn) {
        color: inherit; 
    }
    .read-more {
        position: absolute;
        color: $brand-primary;
        margin: 0;
        @include to-rem(right, 14, 26);
        @include to-rem(bottom, 14, 14);
        @media screen and (min-width: $screen-md-min) {
           @include to-rem(bottom, 16, 16);
        }
        @media screen and (min-width: $screen-md-min) {
           @include to-rem(bottom, 18, 18);
        }
    }
    @media screen and (min-width: $screen-md-min) {
       width: 33.33333%;
       @include to-rem(padding, 16, 12, 16, 54);
      
    }    
    @media screen and (min-width: $screen-lg-min) {
       @include to-rem(padding, 18, 14, 18, 54);
    }    
    
}
/* Text only slide */
.discovery-slider__text-only {
    /* Background image support */
    .discovery-slider__slide__bg {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* If there is a bg image do this */
    .transparent-image-overlay {
        z-index: 0;
    }
    /* The slide text */
    .discovery-slider__slide__text {
        position: relative;
        z-index: 10;
        width: 100%;
        @media screen and (min-width: $screen-lg-min) {
            float: none; 
            width: 83.3333333%;
            margin: 0 auto;
        }
    }
}
/* Text-only slide text */
.discovery-slider__text-only__body {
    @media screen and (min-width: $screen-md-min) {
        @include dfa-columns(2, auto, 2rem); 
    }
}  
/* If no columns */
.no-columns .discovery-slider__slide.discovery-slider__text-only .discovery-slider__slide__text {
    float: none;
    max-width: 800px;
    margin: 0 auto;
}

/* The content category */
.discovery-slider__text_cat {
    @include to-rem(font-size, 14, 14);
    margin: 0;
    @include to-rem(margin-bottom, 14, 20);
    @media screen and (min-width: $screen-md-min) {
       @include to-rem(font-size, 16, 16);
    }    
    @media screen and (min-width: $screen-md-min) {
         @include to-rem(margin-top, 14, 10);
       @include to-rem(font-size, 18, 18);
    }
    .content-label {
        margin-left: -16px;
        padding-left: 16px;
        padding-top: 2px;
        padding-bottom: 3px;
            
        color: $gray;
        &:hover, &:active, &:focus {
            color: $brand-primary;
        }
        background-color: $gray-light;
        
    }
    & + h3 {
        @include to-rem(margin-top, 14, 14);
    }
}
/* The text heading */
.discovery-slider__text_heading {
    @media screen and (min-width: $screen-sm-min) {
        @include to-rem(font-size, 16, 28);    
    }
}
/* Slider controls - slick */
.discovery-slider__controls {
    @include clearfix;
    @include to-rem(margin, 14, 8, 15, 0);
    > div {
        background-color: $brand-primary;
        @include dfa-transition(background-color, 80);
        &:hover, &:active, &:focus {
            cursor: pointer;
            background-color: $brand-darker;
        }
        width:     32px;
        height:    32px;
        margin-left: 1px;
        padding: 6px;
        float: right;
        @media screen and (min-width: $screen-sm-min) {
            width:     40px;
            height:    40px;
        }
        @media screen and (min-width: $screen-lg-min) {
            width:     42px;
            height:    42px;
        }
    }
    .svg-img {
        @include img-responsive;
    }
    .dfa-svg-icon {
        fill: $white;
    }
}