@mixin flex-direction($value) {
    -webkit-flex-direction: $value;
    -ms-flex-direction:     $value;
    flex-direction:         $value;
}
@mixin flex-wrap($value) {
    -webkit-flex-wrap: $value;
    -ms-flex-wrap:     $value;
    flex-wrap:         $value;
}
@mixin flex-flow($dir: row, $wrap: wrap) {
    -webkit-flex-flow: $dir $wrap;
    -ms-flex-flow:     $dir $wrap;
    flex-flow:         $dir $wrap;
}    

@mixin flex-grow($value) {
    -webkit-flex-grow: $value;
    flex-grow:         $value;
} 
@mixin flex-shrink($value) {
    -webkit-flex-shrink: $value;
    flex-shrink:         $value;
} 
@mixin flex-basis($value) {
    -webkit-flex-basis: $value;
    flex-basis: $value;
}
@mixin align-items($value) {
    -webkit-align-items: $value;
    align-items:         $value;
}
@mixin align-content($value) {
    -webkit-align-content: $value;
    align-content:         $value;
}
@mixin justify-content($value) {
    -webkit-justify-content: $value;
    justify-content:         $value;
}