
/* Page header */
@import 'flex-mixins';
header {
    @include container-fixed; 
}

.header-row {
    @include make-row;
    color: $white;
    background-color: $brand-primary;
  
}
.header-title, .header-navigation {
    height: 72px;
}
.header-title {
    @include make-xs-column(8);
    @include to-rem(padding-top, 14, ($padding-small-vertical * 3));
    @include to-rem(padding-bottom, 14, ($padding-small-vertical * 3)); 

    .svg-icon--dfa-logo {
        fill: $white;
//        @include to-rem(height, 14, 48);
       
    }
}
.header-title--text-only {
    .header-title__logo {
        display: block;
        @include make-row;
    }
}
.header-title__text {
    display: none;
    @include to-rem(padding-bottom, 16, ($padding-small-vertical * 2));
    margin: 0;
    @include to-rem(font-size, 16, 14);
    font-weight: 600;
    color: $brand-primary;
    @include dfa-text-to-uppercase(0.1) ;
    &.header-title--mobile__text {
        display: block;
        @include to-rem(font-size, 14, 18);
        text-transform: none;
        letter-spacing: normal;
        color: $gray-dark;
        @include to-rem(padding-top, 16, ($padding-small-vertical * 0.75));
        @include to-rem(padding-bottom, 16, ($padding-small-vertical * 0.75));
    }
}

.header-link__home {
    display: inline-block;
    @include clearfix;
}
/**
 * Header title mobile
 **/
.header-title--mobile {
    @include make-row;
}
.header-title--mobile__cols {
    @include make-xs-column(12);
    color: $gray-dark;
    @include to-rem(padding-top, 14, ($padding-small-vertical * 1.5));
    @include to-rem(padding-bottom, 14, ($padding-small-vertical * 1.5));
    border-bottom: 4px solid $brand-primary;
}
@media screen and (min-width: $screen-md-min) {
    .header-title__text {
        display: block;
        margin: 0;
        font-size: $font-size-small;
        @include dfa-text-to-uppercase(0.11) ;
    }
    .header-title--mobile {
        display: none;
    }
}
/**
 *    Mobile nav and search 
 **/
.header-navigation__mobile {
    @include make-xs-column(4, 0);
    height: 72px;
}
.header-title__logo {
    //width: 100%;
    @include to-rem(height, 14, 48);
    &.header-title__logo--large { display: none;}
}
.dfa-logo {
    height: 54px;
    &.white-simple { display: none;}
    width: 100%;
}
.header-navigation__mobile-search, .header-navigation__mobile-menu {
    padding: ($padding-small-vertical * 4) ($padding-small-horizontal / 2) ($padding-small-vertical * 3);
    float: right; 
    @include rem-calc(width, 56);
    height: 72px;
    
    @include dfa-transition(background-color, 100, ease-in);
    
    .header-navigation__mobile-icon {
            margin-left: auto; margin-right: auto;
        img{ height: 26px;}
    }
    a { 
        color: inherit; 
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }
    img {
        @include to-rem(height, 16, 26);
        height: 26px
    }
    &.active, &:hover {
        background-color: $brand-darker;
    }
}
.navigation-text-label {
    font-size: 10px;
    @include dfa-text-to-uppercase(0.1) ;
    margin-top: ($padding-small-vertical) ;
    width: 100%;
}

/* Mobile secondary nav */ 
.mobile-secondary-nav-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    @include to-rem(margin-top, 14, $padding-small-vertical * 4.5);
    .mobile-secondary-nav-link {
        @include to-rem(padding, 14, $padding-small-vertical * 1.5, $padding-small-vertical * 2);
    }
    ul {
        
        @include to-rem(padding-left, 14, $padding-small-vertical * 5);
    }
    .secondary-nav-link__sub-link {
        border-bottom: none;
        @include to-rem(padding, 14, $padding-small-vertical * 1, $padding-small-horizontal * 0);
    }
    
    .secondary-nav__sub {
        @include to-rem(margin-top, 14, $padding-small-vertical * 2);
        @include to-rem(padding-left, 14, $padding-small-horizontal);
        display: block;
        position: static;
        background-color: $gray-lightest;
        li {
            
        }
        .dfa-svg-icon {
            display: inline-block;
            width: 12px;
            height: 12px;
            @include to-rem(margin-right, 14, $padding-small-horizontal / 2);
            
        }
        svg {
            height: 12px;
            width: 12px;
            fill: $brand-darker;
        }
    }
    .secondary-nav-dropdown {
        @include to-rem(margin-top, 14, $padding-small-vertical * 3);    
    }
    .mob-secondary-nav-dropdown__anchor {
        font-weight: 700;
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }
    .dfa-icon {
        display: inline-block;
        width: 5%;
        float: right;
        
        svg {
            fill: $brand-primary;
            height: 20px;
        }
    }
}
/* Moble lang switchers */
.mobile-nav__lang-switchers {
    @include list-unstyled() ;
    background-color: $gray-lightest;
    @include to-rem(padding-top, 14, $padding-small-vertical);
    @include to-rem(padding-bottom, 14, $padding-small-vertical);
    .mobile-secondary-nav-link {
        @include to-rem(padding-left, 14, $padding-small-horizontal*2);
        @include to-rem(padding-right, 14, $padding-small-horizontal*2);
    }
}
/**
 *    Desktop secondary nav 
 **/
.secondary-navigation {
    @include rem-calc(padding-right, 7);
    float: left;
    display: none;
}
.secondary-nav-nav, .secondary-nav__sub {
    margin: 0;
    padding: 0;
    max-width: none; 
}
.secondary-nav-nav {
    text-align: right;
}
.secondary-nav-link, .secondary-nav__sub-link {
    list-style: none;
    padding: 0;    
    @include rem-calc(font-size, 14);
    a {
        display: block;
    }
}
.secondary-nav-link {
    @include clearfix;
    display: inline-block;
    @include to-rem(padding-top, 14, ($padding-small-vertical * 3));
    @include to-rem(padding-bottom, 14, ($padding-small-vertical * 3));
    @include to-rem(padding-left, 14, ($padding-small-horizontal * 0.75));
    @include to-rem(padding-right, 14, ($padding-small-horizontal * 0.75));
    text-align: center;
}
.secondary-nav-dropdown {
    padding-bottom: 0;
    &.active {
        background-color: $white;
    }
    @include dfa-transition(background-color, 60, swing);

    position: relative;
    .open-menu {
        display: none;
    }
    .close-menu {
        display: inline;
    }
    &#secondary-nav-dropdown > ul {
        display: none;
    }
}
.secondary-nav__sub {
    display: none;
    @include rem-calc(padding, ($padding-small-vertical * 2), ($padding-small-horizontal * 2));
    @include rem-calc(min-width, 220); 
    position: absolute;
    right: 0;
    background-color: $white;
    z-index: 100;
}
.secondary-nav-link__sub-link {
    display: list-item;
    list-style: none;
    text-align: left;
    @include rem-calc(padding, ($padding-small-vertical * 2), ($padding-small-vertical * 2));
    border-bottom: 1px solid $brand-primary;
    &:last-child {
        border-bottom: none;
    }
}
/** 
 *    Site-wide search mobile and desktop 
**/
.site-search-row, .main-nav-row {
    display: none;
    @include make-row;
    padding-top: ($padding-small-vertical * 6);
    padding-bottom: ($padding-small-vertical * 6);
    border-bottom: 4px solid $brand-darker ;
}
.site-search {
    @include make-xs-column(12);
}
.site-search {
    .dfa-site-search-input {
        color: $gray-lighter;
        display: block;
        float: left;
        width: 89%;
        max-width: none;
        padding: ($padding-small-vertical * 1) ($padding-small-horizontal / 2) ($padding-small-vertical * 1) ($padding-small-horizontal / 1);
        border: none;
        border-bottom: 1px solid $gray-dark;
        &:focus {
                outline: none;
        }
    }    
}

.dfa-site-search-submit {
    display: inline-block;
    width: 10%;
    padding-top: ($padding-small-vertical * 1);
    padding-bottom: ($padding-small-vertical * 1);    
     img {
        display: block;
        width: 28px;
        margin: 0 auto;
    }
}
/** 
 * Mobile navigation drop-down, switches to 
 * desktop main navigation  > 996px  
 * Also Mega menu in desktop
**/
.main-nav {
    @include make-xs-column(12);
    position: static;
    > a {font-weight: 400;}
}
.main-nav-list {
    padding: 0;
    margin: 0;
    max-width: none;
    > li {
        border-bottom: 1px solid $gray-light;
        list-style-type: none;   
        &:last-child {
            border-bottom: none;
        }
        > a {
            display: inline-block;
            padding: ($padding-small-vertical * 2) ($padding-small-horizontal / 1)   ;
            font-weight: 700
        }
        
       
        
    }
}
.desktop-search {
    display: none;
}

/* 
 * Mega drop-down 
 */
.main-nav-list__dropdown {
    > a {
        &:hover, &:focus, &:active {
            text-decoration: none;
            cursor: pointer;
        }
    }
}
.main-nav__drop-down__link__show-more {
    display: inline-block;
    /*display: none;*/
    .dfa-svg-icon { 
        fill: $brand-primary;
        max-height:    12px;
        max-width:     12px;
    }
    @include rem-calc(margin-left, 4);
}
.main-nav__drop-down {
    width: 100%;
    z-index: 400;
    background-color: $white;
    /*position: absolute;*/
    top: 52px;
    left: 0;
     display: none ; 
    @include rem-calc(padding-top, 4);
    ul {
        margin: 0;
        padding: 0;
        li {
            a { font-weight: 400;}
        }
    }
    .main-nav__drop-down__link {
        &:last-child {
            border-bottom: 1px solid $gray-light;
        }
    }
}
.main-nav--hover {
    .main-nav__drop-down {
        display: block !important; 
        display: none !important; 
    }
        
}
.main-nav__drop-down__header {
    @include make-row;
}
.main-nav__drop-down__header__block {
    @include make-xs-column(12);
}    
.main-nav__drop-down__content {
    @include make-row;
    
}
.main-nav__drop-down__content__block {
    @include make-xs-column(12);
    
}
.main-nav__drop-down__content__row {
/*    @include make-row();*/
    display: flex;
    @include flex-direction(column);
    
}

.main-nav__drop-down__links, .main-nav__drop-down__features {
    padding: 0 15px;
    @include flex-basis(0);
    .main-nav__drop-down__link {
        
    }
}
.main-nav__drop-down__links {
    
    @include flex-grow(2); 
    
}
.main-nav__drop-down__features {
     display: none ; //until >= 1024px
    @include flex-grow(1);
    .news-related-news__article {
        @include flex-grow(1);
         @include flex-basis(0);
        width: auto;
    }
}
.no-flex {
    .main-nav__drop-down__links {
        width: 66.66667%
    }
    .main-nav__drop-down__features {
        width: 33.33334%
    }
    .main-nav__drop-down__links, .main-nav__drop-down__features {
        float: left;
    }    
}

.main-nav__drop-down__links__row, .main-nav__drop-down__features__row {
    display: flex;
    @include flex-direction(column);
    flex-grow: 1;
    margin: 0 -15px;
}
/* Each block of links */
.main-nav__drop-down__links-block {
    padding: 0 15px;
    /*min-width: 33.333333%;*/
    @include flex-grow(1);
    @include flex-basis(0);
    &:last-child {
         .main-nav__drop-down__link {
            &:last-child {
                border-bottom: none;
            } 
        }
    }
}
.no-flex {
    .main-nav__drop-down__links-block {
        float: left;
    }
}


.main-nav__drop-down__link__mob-minus, .main-nav__drop-down__link__mob-plus {
    .dfa-svg-icon {
        fill: $brand-primary;
    }
} 
.main-nav__drop-down__link__mob-minus {
    display: none;
}
.main-nav__drop-down__header {
    display: none;
    a {
        color: $gray-dark;    
    }
}
.main-nav__drop-down__link {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid $gray-light;
    list-style-type: none;   
    &:last-child {
        border-bottom: none;
    }
    > a {
        display: inline-block;
        padding: ($padding-small-vertical * 2) ($padding-small-horizontal / 1)   ;    
    }
    
}
/* Main nav drop-down features */
.main-nav-list {
    > li {
        &.main-hover {
            .main-nav__drop-down { 
                display: block;
            }
        }
    }
}

@media screen and (min-width: 379px) {

    .header-navigation__mobile-menu {

        margin-right: 15px;
    }
}
@media (min-width: $screen-sm-min) {
    .header-title, .header-navigation__mobile {
        height: 86px;
    }  
    .header-title__logo {
    @include to-rem(max-width, 16, 300);
       
    }
    .header-navigation__mobile-search, .header-navigation__mobile-menu {
        height: 86px;
        width: 66px ;
        padding: ($padding-small-vertical * 4) ($padding-small-horizontal) ($padding-small-vertical * 2);
        .navigation-text-label { 
            font-size: 12px;
        }
    }
    .dfa-site-search-input {
        width: 92.5% ;
        font-size: 16px;
    }
    .dfa-site-search-submit {
        width: 7.5%;
        img {
            width: 36px;
        }
    }    
}
@media (min-width: $screen-md-min) {
    /* Switch header to desktop */
    .header-row {
        background-color: $gray-light;
    }
    .header-title {
        @include make-md-column(4);
        height: auto;
        .svg-icon--dfa-logo {
            fill: $brand-primary;
        }
    }
    .header-title__text {
        display: block;
        margin: 0;
        @include to-rem(font-size, 16,14);
    }
    .header-title--mobile {
        display: none;
    }
    .header-title--text-only {}
    .header-title__logo { 
        max-width: 300px;
        &.header-title__logo--small { display: none; }
        &.header-title__logo--large { 
            display: inline;
        } 
    }
    .header-title--text-only {
        .header-title__logo { 
            max-width: 300px;
            &.header-title__logo--small { display: inline; }
            &.header-title__logo--large { 
                display: none;
            } 
        }
    }
    .header-navigation__mobile {
        display: none;
    }
    .secondary-navigation {
        @include make-md-column(8);
        @include rem-calc(padding-right, 0);
        float: left;
        display: block;
        width: 65%;
        a {font-weight: 400;}
        .dfa-icon {
            display: inline;
        }
        .close-menu {
            @include to-rem(width, 16, 24);
            @include to-rem(height, 16, 24);
        }
    }
    .dfa-site-search-input {
        font-size: $font-size-large;
    }
    /* Mobile nav switch to desktop */
    .main-nav-row {
        padding-top: 0;
        padding-bottom: 0;
        background-color: $brand-primary;
        display: block;
        border-bottom: none;
        position: relative;
        nav {
            @include clearfix ;
        }
    }
    .main-nav {
        @include make-md-column(11, 0);
        position: static;
    }
    .main-nav-list {
        @include clearfix;
        padding: 0;
        margin: 0;
        > li {
            font-size: 16px; 
            font-weight: 400;
            display: block;
            float: left;
            border-bottom: none;
            border-right: 1px solid $gray-dark;
            list-style-type: none;  
            @include dfa-transition(background-color, 120, ease-out);
            &:last-child {
                border-right: none;
            }
            > a {
                @include to-rem(padding, 16, 11, ($padding-small-horizontal * 2.25), 13);
                 color: $white;
                font-weight: 400;
            }
            &:hover {
                background-color: $brand-darker ;
            }
        }
    }
    /* Main nav dropdown */
    .main-nav__drop-down {
        @include container-fixed;   
        position: absolute;
        @include rem-calc(padding-bottom, 16);
        border-bottom: 4px solid $brand-primary;
        .main-nav__drop-down__link {
            @include rem-calc(font-size, 16);
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .main-nav__drop-down__content__row {
        @include flex-direction(row);
    }
    
    .main-nav__drop-down__features {
        display: block;
    }
    .main-nav__drop-down__links__row, .main-nav__drop-down__features__row {
        @include flex-direction(row);
    }
    .main-nav__drop-down__links {
        @include flex-direction(row);
    }
    .main-nav__drop-down__link  {
        a {
            padding: ($padding-small-vertical * 2) ($padding-small-horizontal / 1)   ;  
            padding-left: 0       ;      
        }
        
    }
    .main-nav__drop-down__link__show-more {
        display: inline-block;
        .dfa-svg-icon {
            fill: $white;
        }
    }
    .main-nav__drop-down__link__mob-minus, .main-nav__drop-down__link__mob-plus {
        display: none;
    }
    .main-nav__drop-down__header {
        display: block;
    }
    /* Search display */
    .desktop-search {
        @include make-md-column(1, 0);
        display: block;
        float: right;
        width: 48px ;
        color: $white;
        .desktop-search-anchor {
            display: inline-block;
            float: right;
            padding: ($padding-small-vertical * 2) ($padding-small-horizontal * 2.5) ($padding-small-vertical * 2) ($padding-small-horizontal * 3);
            color: inherit;
            background-color: $brand-darker ;
            @include clearfix;
        }
        .desktop-search-text {
            display: none;
        }
        .desktop-search-icon, .search-icon {
            @include to-rem(width, 16, 32);
            @include to-rem(height, 16, 32);
        }
        .desktop-search-icon {
            @include to-rem(width, 16, 32);
            float: right;
        }
        .search-icon {
            display: block;
            margin-left: auto; 
            margin-right: auto;
        }
    }
    .mobile-secondary-nav-nav, .mobile-nav__lang-switchers {
        display: none;
    }
}
@media (min-width: $screen-lg-min) {
    .dfa-logo {
        max-width: 340px;
        @include to-rem( max-width, 18, 340);
        &.white-simple__stacked { display: none; }
        &.white-simple { 
            display: inline;
        }
    }
    .main-nav {
        
        position: static;
        > li {
            > a {
                 @include to-rem(padding, 16, ($padding-small-vertical * 2), ($padding-small-horizontal * 3), ($padding-small-vertical * 2.5 + 1));    
            }
        }
    }
    .main-nav-list {
        > li {
            font-size: 18px; 
            > a {
                 @include to-rem(padding, 16, ($padding-small-vertical * 2), ($padding-small-horizontal * 2.5), ($padding-small-vertical * 2.5 + 1));    
            }
        }
    }
     
    .desktop-search {
        
        .desktop-search-anchor {
            padding: ($padding-small-vertical * 1.5) ($padding-small-horizontal * 2.5) ($padding-small-vertical * 1.5) ($padding-small-horizontal * 3);
        }
        .desktop-search-icon, .search-icon {
            //@include to-rem(width, 18, 32);
        }
        .desktop-search-text {
            
            text-align: center;
            @include to-rem(padding, 16, ($padding-small-vertical * 1.75), ($padding-small-horizontal * 1), ($padding-small-vertical * 0), ($padding-small-horizontal * 1.5));
            @include dfa-text-to-uppercase(0.1);
            @include to-rem(font-size, 16, 12);
            float: right;
            width: auto;
        }
    }    
    .dfa-site-search-input {
        font-size: $font-size-large;
    }
    .desktop-search-anchor {
        padding-bottom: ($padding-small-vertical * 1.5) ;
    }
    .header-title {
        @include make-lg-column(4);
        height: auto;
    }    
    .secondary-navigation {
        @include make-lg-column(8);
        @include rem-calc(padding-right, 0);
        float: left;
        display: block;
    }
    
    .main-nav__drop-down__link {
            @include rem-calc(font-size, 16);
    
}
@media screen and (min-width: 1120px) {
     .main-nav__drop-down {
        .main-nav-list {
            @include rem-calc(font-size, 18);
        }
    }
        > li {
            font-size: 18px;
            > a {
                @include to-rem(padding, 16, ($padding-small-vertical * 2.5 - 1), ($padding-small-horizontal * 2.5), ($padding-small-vertical * 2.5));            
            }
        }
    }
    
}
@media screen and (min-width: 1340px) {
    .main-nav {
        width: 83.333333%;
    }
    .desktop-search {
        width: 16.6666667%; 
        .desktop-search-text {
            display: block;
        }
    }
}