/*
 * Hero image 
 */
.hero-image-wrapper {
    position: relative;
    overflow: hidden;
    z-index: 0;
    .content-wrap {
        @include clearfix;
        position: absolute;
        top:0px;
        left: 50%;
        height: 100%;
        width: 100%;
        z-index: 20;
        @include dfa-translate(-50%, -0%);
    }
}

.hero-image {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
}

.hero-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    @include dfa-translate(-0%, -50%);
    z-index: 20;
    color: $white;
    
}
.hero-heading {
    font-weight: 900;
    @include rem-calc(font-size, 28);  
    line-height: 1;
    @include rem-calc(margin-bottom, 16);
    margin-top: 0;
    max-width: none;
}
.hero-text-subtext, .hero-text__button {
    @include rem-calc(font-size, 14);
    max-width: none;
}
.hero-text__button {
    margin-bottom: 0;
    & + .hero-text-subtext {
        @include rem-calc(margin-bottom, 22);  ;    
    }
}
@media screen and (min-width: 375px) {
    .hero-heading {
        @include rem-calc(font-size, 32);  
    }
    .hero-text-subtext, .hero-text__button {
        @include rem-calc(font-size, 15);
    }
}
.hero-scroll {
    display: none;
    color: $white;
    text-align: center;
    @include rem-calc(width, 122);
    @include rem-calc(height, 122);
    
    @include rem-calc(padding, 25, 4, 4, 4);
    @include border-radius(50%);
    background-color: transparent;
    background-color: rgba(#000, 0);
    
    border: 2px solid $white;
    
    position: absolute;
    bottom: 3%;
    left: 50%;
    
    transform: translate(-50%, -0%);
   
    z-index: 30;
    
    @include dfa-transition(background-color, 220, ease-out);
    
    &:hover, &:active, &:focus {
        background-color: #000;
        background-color: rgba(#000, 0.36);
    }
    a {
        color: inherit;
        &:hover {
            text-decoration: none;
        }
    }
    p {
        @include rem-calc(font-size, 18);
        @include rem-calc(margin-bottom, 6);
    }
    img {
        display: block;
        height: 30px;
        @include rem-calc(margin, 0, auto);
    }
}
.hero-text-row--mobile {
    display: none !important;
    @include make-row(0);
    @include rem-calc(padding-bottom, 32); 
}
.hero-text-block--mobile {
    @include make-xs-column(12);
}

    .hero-heading--mobile {
        font-family: "SourceSans", sans-serif; 
        @include rem-calc(font-size, 36);
    }
    


@screen and (min-width $screen-md-min) {
    .hero-heading--mobile {
        font-family: "SourceSans", sans-serif; 
        @include rem-calc(font-size, 40);
    }
}
@screen and (min-width $screen-md-min) {
    .hero-heading__mobile {
        font-family: "SourceSans", sans-serif; 
        @include rem-calc(font-size, 42);
    }
}
@media screen and (min-width: 609px) {
    .hero-text-row--mobile {
        display: none;
    }
}
@media screen and (min-width: $screen-sm-min) {
    .hero-text {
        max-width: 76.4%;
        text-align: center;
        top: 50%;
        left: 50%;
        @include dfa-translate(-50%, -50%);
        
    }
    .hero-heading {
        @include rem-calc(font-size, 40);
        line-height: 0.96;
        @include rem-calc(margin-bottom, 22);
    }
    .hero-text-subtext, .hero-text__button  {
        @include rem-calc(font-size, 18);
    }
    .hero-scroll {
        display: block;
        bottom: 5%;
        img {
            height: 36px;
        }
    }   
}
@media screen and (min-width: $screen-lg-min) {
    .hero-text {
        .hero-heading {
            @include rem-calc(font-size, 76);
        }
        .hero-text-subtext {
            @include rem-calc(font-size, 20);
        }
    }  
}
@media screen and (min-width: $screen-xl-min) {
    .hero-text {
        .hero-heading {
            @include rem-calc(font-size, 96);
        }
    }
}