/*
 * Hero image 
 */
.hero-image-wrapper {
    position: relative;
    overflow: hidden;
    .transparent-image-overlay { display: none;}
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-text {
    display: none;
    position: absolute;
    width: 66%;
    top: 48%;
    text-align: left;
    @include rem-calc(left, (15));

    @include dfa-translate(-0%, -50%);
    z-index: 20;
    
    .hero-heading {
        font-weight: 900;
        @include rem-calc(font-size, 64);  
        line-height: 1;
        @include rem-calc(margin-bottom, 16);
        margin-top: 0;
    }
    color: $white;
    
}
.hero-text-subtext {
        
        @include rem-calc(font-size, 18);  
        margin: 0;
}

.hero-scroll {
    display: none;
    color: $white;
    text-align: center;
    @include rem-calc(width, 122);
    @include rem-calc(height, 122);
    
    @include rem-calc(padding, 25, 4, 4, 4);
    @include border-radius(50%);
    background-color: transparent;
    background-color: rgba(#000, 0);
    
    border: 2px solid $white;
    
    position: absolute;
    bottom: 3%;
    left: 50%;
    
    transform: translate(-50%, -0%);
   
    z-index: 30;
    
    @include dfa-transition(background-color, 220, ease-out);
    
    &:hover, &:active, &:focus {
        background-color: #000;
        background-color: rgba(#000, 0.36);
    }
    a {
        color: inherit;
        &:hover {
            text-decoration: none;
        }
    }
    p {
        @include rem-calc(font-size, 18);
        @include rem-calc(margin-bottom, 6);
    }
    img {
        display: block;
        height: 30px;
        @include rem-calc(margin, 0, auto);
    }
}
.hero-text-row__mobile {
    @include make-row;
}
.hero-text-block__mobile {
    @include make-xs-column(12);
}
.hero-text__mobile {
    .hero-heading__mobile {
        font-family: "SourceSans", sans-serif; 
        @include rem-calc(font-size, 36);
    }
    .hero-text-subtext {
        @include rem-calc(font-size, 18);  
        font-family: "SourceSansSemiBold";
    }  
}

@screen and (min-width $screen-md-min) {
    .hero-heading__mobile {
        font-family: "SourceSans", sans-serif; 
        @include rem-calc(font-size, 40);
    }
}
@screen and (min-width $screen-md-min) {
    .hero-heading__mobile {
        font-family: "SourceSans", sans-serif; 
        @include rem-calc(font-size, 42);
    }
}
@media screen and (min-width: 609px) {
    .hero-image-wrapper .transparent-image-overlay { 
        display: block;
    }
    .hero-text {
        display: block;    
    }
    .hero-text__mobile {
        display: none;
    }
}
@media screen and (min-width: $screen-sm-min) {
    .hero-text {
        text-align: center;
        top: 50%;
        left: 50%;
        @include dfa-translate(-50%, -50%);
        .hero-heading {
            line-height: 0.96;
            @include rem-calc(margin-bottom, 22);
        }
    }
    .hero-scroll {
        display: block;
        bottom: 5%;
        img {
            height: 36px;
        }
    }   
}
@media screen and (min-width: $screen-lg-min) {
    .hero-text {
        .hero-heading {
            @include rem-calc(font-size, 76);
        }
        .hero-text-subtext {
            @include rem-calc(font-size, 20);
        }
    }  
}
@media screen and (min-width: $screen-xl-min) {
    .hero-text {
        .hero-heading {
            @include rem-calc(font-size, 96);
        }
    }
}