/*
 * Site info card
 */
.info-card {
    hr {
        max-width: none;
    }
    &.landing-feature-section {
        @include rem-calc(padding-top, 0);
        @include rem-calc(padding-bottom, 0);
    }
    .content-wrap {
           @include to-rem(padding-top, 14, 0);
           @include to-rem(padding-bottom, 14, 0);
    }
    hr {
      border-color: $gray-dark;  
      border-width: 2px;
    }
    .top-hr {
        margin-top: 0;
        @include rem-calc(margin-bottom, 32);
    }
    .bottom-hr {
        margin-bottom: 0;
        @include rem-calc(margin-top, 32);   
    }
}
    
.info-card__address, .info-card__address__misc, .info-card__person {
    @include make-xs-column(12);
    @include to-rem(margin-bottom, 14, 20);
    > h3 {
        margin-top: 0;
        @include to-rem(margin-bottom, 14, 14);
        font-weight: 600;
        @media screen and (min-width: $screen-md-min) {
            @include to-rem(font-size, 18, 22);
        }    
    }
    @media screen and (min-width: $screen-md-min) {
        @include make-md-column(4);
        margin-bottom: 0;
    }
}
.info-card__person {
    a {
            font-weight: 400;
            color: inherit;
            &:hover {
                color: $brand-primary;
            }
        }
    p {
        @include to-rem(margin-top, 14, 14);
        
    }
}
/* Page text title */
.page-title-row {
    @include make-row ;
}
.page-title-block {
    @include make-xs-column(12) ;
}
.page-title__heading {
    @include rem-calc(margin-top, 14);
    @include rem-calc(margin-bottom, 16);
}
.main-body--inner-landing {
    .page-title__heading {
        margin-top: 0;
    }
}
.page-title__sub-text {
    font-style: italic;
    @include rem-calc(font-size, 18);
    color: $gray-dark;
    font-weight: 200;
}
.page-title__hr {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    @include rem-calc(margin-top, 28);
    border-top-width: 2px;
    border-top-color: $brand-darker;
}
@media screen and (min-width: $screen-sm-min) {
    .page-title__heading {
        @include rem-calc(font-size, 36);
    }
}
@media screen and (min-width: $screen-md-min) {
    .page-title__heading {
        @include rem-calc(font-size, 42);
    }
    .page-title__sub-text {
        @include rem-calc(font-size, 20);
    }
}
@media screen and (min-width: $screen-lg-min) {
    .page-title__heading {
        @include rem-calc(font-size, 42);
    }
}