/** 
 *    Themeing
 * 
 **   Default is the two-tone DFA Green
 *
 **   Theme-gray is used in consulates, missions, micro-sites
 *    The difference is in the site header the main nav is brand primary green the top header is light gray #e4e5e6de
 * 
 **   Theme-blue is Irish Aid two-tone blue. This does the header in the blue, then all components which have colour will be changed to the Irish
 *    Aid blue
 *
**/
.dfa-theme-gray {
    .header-row {
        color: $brand-darker;
        background-color: $gray-light;
    } 
    svg {
        fill: $brand-darker;
    }
    .header-navigation__mobile-search, .header-navigation__mobile-menu {
       .header-navigation__mobile-icon {
            svg {
                fill: $brand-darker;
            }
        }   
        &.active, &:hover { 
            background-color: $brand-primary;
            .header-navigation__mobile-icon {
                svg {
                    fill: $white;
                }
            }   
            .dfa-icon-label {
                color: $white;
            }
        }     
    }
    .header-title__text {
        &.header-title--mobile__text {
            > a {
                &:hover, &:active, &:focus {
                    color: inherit; 
                }
            }
        }
        > a {
            &:hover, &:active, &:focus {
                color: inherit;
            }
        }

    }
    @media screen and (min-width: $screen-md-min) {
        .header-row {

        }
        .secondary-navigation {
            .dfa-icon {
                svg {
                    fill: $brand-darker;
                }
            }
        }
        .main-nav-row {
            background-color: $brand-primary;
        }
        .main-nav-list {
            > li {
                &:hover {
                    background-color: $brand-darker ;
                }
            }
        }
        .desktop-search {
            .desktop-search-anchor {
                background-color: $brand-darker
            }
        }
    }
    .lang-switcher {
        > a {
            &.muted {
                color: #5a5a5a;
                &:hover, &:active, &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}
.dfa-theme-blue {
    // Re-scaffolding
    a {
        color: $theme-blue;
        &.btn-primary {
            color: $white;
        }
    }
    // Header and navigation 
    .header-row {
        background-color: $theme-blue-lighter;
        a {
            color: $white;            
        }
    } 
    .header-navigation__mobile-search, .header-navigation__mobile-menu {
        .dfa-icon-label {
             color: $white;
        }
        &.active, &:hover {
            background-color: $theme-blue;
        }     
    }
    .header-title--mobile__cols {
        border-bottom-color: $theme-blue;
    }
    .site-search-row, .main-nav-row {
           border-bottom-color: $theme-blue;
    }
    .main-nav__drop-down__link__show-more {
        .dfa-svg-icon { 
            fill: $theme-blue;
        }
    }
    @media screen and (min-width: $screen-md-min) {
        .header-row {
            background-color: $theme-blue-lighter;
        }
        .secondary-navigation {
            color: $brand-darker;
       }
       .secondary-nav-dropdown {
            .dfa-icon {
                svg {
                    fill: $white;
                }
            }
            &.active {
                .dfa-icon {
                    svg {
                        fill: $theme-blue;
                    }
                }
                a {
                    color: $theme-blue;    
                }
            }
        }
        .secondary-nav-link__sub-link {
            border-bottom-color: $theme-blue;
        }
        .main-nav-row {
            background-color: $theme-blue;
        }
        .main-nav__drop-down__link__show-more {
            .dfa-svg-icon { 
                fill: $white;
            }
        }
       .main-nav__drop-down {
           border-bottom-color: $theme-blue;
       }
        .main-nav-list {
            > li {
                &:hover {
                    background-color: $theme-blue-lighter ;
                }
            }
        }
       .desktop-search { 
            .desktop-search-anchor {
                background-color: $theme-blue-lighter;
            }
        }
    }
    //General content 
    .panel-title > a.panel-heading__anchor {
        color: $theme-blue;
    }
    .panel-heading a .panel-heading__show-more__icon .dfa-svg-icon, .panel-heading a .panel-heading__show-less__icon .dfa-svg-icon {
        fill: $theme-blue;
    }
    //Inner navigation
    .heading--side-bar {
        border-color: $theme-blue;
    }
    .main-body__side-bar {
        .dfa-svg-icon {
            fill: $theme-blue;
        }
    }
    // Components 
    //landing features
    .landing-feature--heading {
        > a {
            color: $gray-dark;
            &:hover, &:active, &:focus {
                color: $theme-blue;
            }
        }
    }
    //Discovery slider
    .discovery-slider__controls__pause {
        background-color: $gray-lightest;
        .dfa-svg-icon {
            fill: $theme-blue;
        }
    }
    //Accordion tabs 
    .accordion-tabs__panel-heading {
        background-color: $theme-blue;
    }
    .accordion-tabs__tabs__item {
        background-color: $theme-blue;
        &.active {
            color: $theme-blue;
            background-color: $white;
            border-bottom-color: $white;
        }
    }
    .page-title__hr {
        border-top-color: $theme-blue;
    }
    
    //Old news archives
    .archive-subsections.years [class*=currentbranch] a {
        background-color: $theme-blue-lighter;
        &:hover, &:active, &:focus {
            background-color: $theme-blue;
        }
    }
    
    
    //Buttons 
    .btn-primary  {
        background-color: $theme-blue-lighter;
        
        &:hover, &:active, &:focus {
            background-color: $theme-blue;
        }
    }
    .btn-primary--reversed {
        border-color: $theme-blue;
        &:hover, &:active, &:focus {
            background-color: $theme-blue-lighter;
        }
    }
    .btn-transparent {
        color: $white;
        &:hover {
            color: $theme-blue;
        }
    }
    .dfa-btn--submit {
        background-color: $theme-blue-lighter;
        &:hover, &:active, &:focus {
            background-color: $theme-blue;
        }
    }
    .button {
        border-color: $theme-blue;
        background-color: $theme-blue-lighter;
        a {
            color: $white;    
        }
        &:hover, &:active, &:focus {
            background-color: $theme-blue;
        }
        
    }
    //Press releases
    .press-release__label {
        .content-label {
            background-color: $theme-blue;
        }
    }
    .news-listing-entry-anchor {
        color: inherit;
        &:hover {
            color: $theme-blue;
        }
    }
    
    //Cards 
    .dfa-card--dropshadow {
        .dfa-svg-icon {
            fill: $theme-blue-lighter;
        }    
        &:hover, &:active, &:focus  {
            .dfa-svg-icon {
                fill: $theme-blue;
            }
        }    
    }
    .dfa-card {

        &.dfa-card--horizontal {
            .dfa-svg-icon {
                fill: $gray-dark;
            }            
            &:hover, &:focus, &:active {
                .dfa-svg-icon {
                    fill: $theme-blue;
                }
            }
        }
    }
    .landing-feature-image__card__anchor {
        color: $gray-dark;
        &:hover, &:active, &:focus {
            color: $theme-blue;
            .dfa-svg-icon {
                fill: $theme-blue;
            } 
        }
    }
    .dfa-card--numbers {
        .dfa-card--media {
            background-color: $theme-blue;
        }
    }
    .dfa-card--plain--icon {
        &:hover, &:active, &:focus {
            .dfa-svg-icon {
                fill: $theme-blue;
            }            
        }

    }
    .dfa-card__anchor {
        color: $gray-dark;
        &:hover, &:focus, &:active {
            color: $theme-blue; 
        }
    }
    
    //Discovery slider
    .discovery-slider__slide__bg {
        &.bg-gradient {
            background: rgb(6,68,118); 
            background-image: -webkit-linear-gradient(288deg, rgba($theme-blue,1) 0%, rgba($theme-blue-lighter,1) 100%);
            background-image: -o-linear-gradient(288deg, rgba($theme-blue,1) 0%, rgba($theme-blue-lighter,1) 100%);
            background-image: linear-gradient(18deg, rgba($theme-blue,1) 0%, rgba($theme-blue-lighter,1) 100%); 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005036', endColorstr='#006845',GradientType=1 ); 
        }
    }
    .discovery-slider__controls {
        > div:not(.discovery-slider__controls__pause) {
            background-color: $theme-blue-lighter;
            &:hover, &:active, &:focus {
                background-color: $theme-blue;
            }
        }
    }
    .discovery-slider__controls__pause {
        &:hover, &:active, &:focus {
            background-color: lighten($theme-blue, 10%);
        }
    }
    // Info card 
    .info-card__person {
        a {
            color: $gray-dark;
            &:hover, &:focus, &:active {
                color: $theme-blue;
            }
        }
    }
    //Twitter scroller
    .scroller-feed  {
        .discovery-slider__controls__pause {
            &.discovery-slider__controls__paused {
                background-color: lighten($theme-blue, 10%);
            }
        }
    }
    .scroller-feed {
        .slick-dots {
            li {
                button:before {
                     color: $theme-blue;               
                }
            }
        }
    }
    //Misc content elements
    blockquote {
        border-left-color: $theme-blue;
    }
    .blockquote-left, .blockquote-right {
        @include dfa-gradient($theme-blue-lighter, $theme-blue);
    }
    
    .panel-title > a.panel-heading__anchor {
        color: $theme-blue;
    }
    .panel-heading a .panel-heading__show-more__icon .dfa-svg-icon, .panel-heading a .panel-heading__show-less__icon .dfa-svg-icon {
        fill: $theme-blue;
    }
     .panel-heading a .panel-heading__show-more__icon .dfa-svg-icon, .panel-heading a .panel-heading__show-less__icon .dfa-svg-icon {
        fill: $theme-blue;
    }
    .dfa-feature-panel { 
        .panel-title > a.panel-heading__anchor {
            color: $white;
        }
        .panel-heading a .panel-heading__show-more__icon .dfa-svg-icon, .panel-heading a .panel-heading__show-less__icon .dfa-svg-icon {
            fill: $white;
        }
        
    }
    
    // Footer
    footer {
        background-color: $theme-blue;
        a {
            color: $white; 
        }
    }
   
}