.scroller-feed__scroller-block {
    @include make-xs-column(12);
}
.landing-section__twitter-block {
    @include make-xs-column(12);
    background-color: $gray-lightest;
}
//linked image scroller 
.scroller-feed__item__img {
    @include img-responsive--fw;
}
.scroller-feed__item {
    .landing-feature-image__card {
        @include border-radius(0);
        box-shadow: none;
    }    
}

.scroller-feed__item__card {
    @include rem-calc(padding, 8px, 12px);
    
}
.scroller-feed__item__heading {
    margin-top: 0;
}

.twitter-feed-block {
    width: 100%;
    @include clearfix ;
}

@media screen and (min-width: $screen-md-min) {
    .scroller-feed__scroller-block {
        @include make-md-column(8);
    }    
    .landing-section__twitter-block {
        @include make-xs-column(4);
        
    }
}


