/* 
 * 
 * Intro section 
 *
 */
.intro-feature-block {
    @include make-xs-column(12);
}
.intro-feature {
    @include rem-calc(padding-bottom, ($padding-small-vertical * 7));
}
.intro-feature-heading {
    margin-top: 0;
    @include rem-calc(margin-bottom, 28);
    @include rem-calc(font-size, 32);
}
.intro-feature-heading__sub {
    margin-top: 0; 
}
.intro-feature-body {
    @include make-row;
}
.intro-feature-leftcol {
    @include make-xs-column(12);
} 
.intro-feature-rightcol {
    @include make-xs-column(12);
} 

@media screen and (min-width: 840px) {
    .intro-feature-leftcol, .intro-feature-rightcol {
        width: 50%;
    }
}
@media screen and (min-width: $screen-md-min) {   
    .intro-feature-heading {
        @include rem-calc(font-size, 36);
    }
}
@media screen and (min-width: $screen-lg-min) {
    .intro-feature-heading {
        @include rem-calc(font-size, 40);
    }
}